<!---footer-->
<div style="
padding-bottom: 40px;
">
    <p
    style=" text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: #666666;
      font-weight: 400;
      margin: 4px;
    "
  >
  Best regards from the CIMON Team.
  </p>
  <p
    style="text-align: center;
     font-family: 'Roboto', sans-serif;
      color: #666666;
      font-weight: 400;
      font-size: 14px;
      margin: 4px;
    "
  >
    <strong style="color: #000;">CIMON</strong> Team
  </p>
</div>
<div
style="
  background: #18171D;
  text-align: center;
  height: 139px;
  display: block;
  text-align: center;
"
>
<div style="display: flex; padding: 7% 43% 0%;">
  <a
    style="
      background: url('{{imageUrl}}images/fb.png')
        no-repeat;
      width: 30px;
      height: 19px;
      background-size: contain;
    "
  ></a>
  <a
    style="
      background: url('{{imageUrl}}images/twitter.png')
        no-repeat;
      width: 30px;
      height: 19px;
      padding: 0px 9px 0px 0px;
      background-size: contain;
    "
  ></a>
  <a
    style="
      background: url('{{imageUrl}}images/instagram.png')
        no-repeat;
      width: 30px;
      height: 19px;
      background-size: contain;
    "
  ></a>
</div>
<p
  style="
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
  "
>
  © Copyright Cimon 2020 all right reserved
</p>
</div>
</div>
</body>
</html>

