<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Toothzen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="margin: 0; padding: 0;">
    <div style="background: #fff; width: 660px; margin: 0 auto;">
      <!----banner-->
      <div
        style="
          background: #373d49;
          background-position: center;
          width: 100%;
          padding: 5% 0%;
          text-align: center;
        "
      >
        <div
          style="width: 100%; max-width: 50%; margin: 0 auto;"
        >
          <a><img src="{{imageUrl}}images/logo.png" /></a>
        </div>
      </div>

      