@import "../fonts/stylesheet.css";
@mixin set-font($family: "Comfortaa-bold",
  $size: 12px,
  $color: "",
  $weight: "normal"

) {
  font-family: $family;
  font-size: $size;

  @if $color !="" {
    color: $color;
  }

  font-weight: $weight;
}

.export-btn {
  background: #fff;
  border: 1px solid #11cdef;
  width: 120px;
  padding: 10px 0px;
  border-radius: 2px;
  box-shadow: 0px 1px 8px -6px #2c2828;
  @include set-font("Gotham-book", 13px, #11cdef);

  &:hover {
    background: #11cdef;
    color: #fff;
  }
}

.admin-row {
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.sidebar {
  background: #172030;

  @media only screen and (min-width: 990px) {
    // height: 100vh;
    flex: 0 0 18.666667%;
    max-width: 18.666667%;
  }

  @media only screen and (min-width: 768px) and(max-width:990px) {
    flex: 0 0 30.666667%;
    max-width: 30.666667%;
    // height: 100vh;
  }

  @media only screen and (min-width: 991px) and(max-width:1200px) {
    flex: 0 0 23.666667%;
    max-width: 23.666667%;
    // height: 100vh;
  }

  .leftbar {
    padding: 20px 0px 20px 0px;

    // position: fixed;
    // height: 100vh;
    @media only screen and (min-width: 1400px) {
      width: 17%;
    }

    &.big-screen {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    &.small-screen {
      @media only screen and (min-width: 768px) {
        display: none;
      }

      display: flex;
      position: relative;
      height: auto;
      padding: 0;

      .logo-section {
        padding: 0px;
        width: 100%;
      }

      .menu {
        padding-bottom: 0px;

        .close {
          background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086714912_close-profile.png") no-repeat;
          width: 31px;
          position: absolute;
          top: 0;
          right: 0;
          height: 31px;
          z-index: 99999;
        }
      }
    }

    .show-dropdown {
      .sub-item {
        a.active {
          color: #0050A8 !important;
        }
      }
    }
  }

  .logo-section {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;

    .menubar {
      background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086757925_menu-bar.png") no-repeat;
      width: 24px;
      height: 40px;
      background-position: center;
      margin-left: auto;
    }
  }

  .menu {
    .list {
      display: flex;
      flex-direction: column;
      padding: 0;

      .list-item { 
        min-height: 55px;
        border-radius: 5px;
        align-items: center;
        padding-left: 20px;
        display: flex;

        &.show-dropdown {
          display: block;
          padding: 10px 20px;
          padding-right: 0px;
          background-attachment: fixed;
          background: #29354b;

          &:before {
            padding-top: 3px;
            position: absolute;
          }

          >a {
            padding-left: 50px;
            padding-top: 8px;
            display: block;

            &.dropdown {
              &::after {
                content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086798347_down.png");
                position: absolute;
                right: 10px;
                top: 20%;
                position: absolute;
                -webkit-transform: rotate(30deg);
                -moz-transform: rotate(30deg);
                -o-transform: rotate(30deg);
                -ms-transform: rotate(30deg);
                transform: rotate(180deg);
              }
            }
          }
        }

        &.hide-dropdown {
          display: block;
          padding: 10px 20px;
          padding-right: 0px;

          &:before {
            padding-top: 3px;
            position: absolute;
          }

          a {
            padding-left: 52px;
            padding-top: 8px;
            display: block;

            &.dropdown {
              &::after {
                content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086798347_down.png");
                right: 10px;
                position: absolute;
                top: 20%;
              }
            }
          }
        }

        .sub-item {
          display: flex;
          flex-direction: column;
          padding-bottom: 30px;
          background: #29354b;
          padding-bottom: 10px;

          &.disable {
            display: none;
          }

          a {
            padding: 18px 0px 0px 50px;
          }

          .adminecommerce {
            padding-left: 5px;

            >li {
              padding-left: 10px !important;
            }

            li.have-dropdown {
              padding-bottom: 0px;

              a {
                padding: 10px 15px;
                word-break: break-word;
                padding-left: 40px;
              }

              .users-dropdown {
                padding-bottom: 0px;
              }
            }

            li {
              a {
                padding: 10px 15px;
                word-break: break-word;
              }
            }
          }
        }

        &.active {
          background: #29354b;
        }

        &:hover {
          background: #29354b;
        }

        a {
          @include set-font("Gotham-book", 13px, #fff);
          text-decoration: none;
          padding-left: 15px;
        }

        &.dashboard {
          a {
            @include set-font("Gotham-medium", 13px, #fff);
            text-decoration: none;
          }

          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086863411_dashboradicon.png");
          }
        }

        &.users {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086895037_user.png");
          }
        }

        &.pages {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086936080_cms.png");
          }
        }

        &.products {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602086964988_products.png");
          }
        }

        &.orders {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087001301_orders.png");
          }
        }

        &.calendar {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087028916_calendars.png");
          }
        }

        &.chat_message {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087055711_chat.png");
          }
        }

        &.side_bar_news {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087129064_news.png");
          }
        }

        &.side_bar_news {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087129064_news.png");
          }
        }

        &.side_bar_careeer {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087165322_careers.png");
          }
        }

        &.side_bar_store {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087199971_store-locator.png");
          }
        }

        &.side_bar_coupon {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087272320_coupon.png");
          }
        }

        &.settings {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087300355_settings.png");
          }
        }

        &.profile_user {
          &::before {
            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087333990_userprofile.png");
          }
        }
      }
    }
  }

  .signout {
    // position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;

    .fa-sign-out {
      color: #fff;
    }

    a {
      @include set-font("Gotham-medium", 14px, #fff);
      text-decoration: none;
    }

    &:hover {
      .fa-sign-out {
        color: #11cdef;
      }

      a {
        color: #11cdef;
      }
    }
  }
}

.admin-body {
  // background: #172030;
  background: #f2f2f2;

  .content {
    background-color: #F6F6F6;

    @media only screen and (min-width: 990px) {
      flex: 0 0 81.333333%;
      max-width: 81.333333%;
    }

    @media only screen and (min-width: 768px) and(max-width:990px) {
      flex: 0 0 70.333333%;
      max-width: 70.333333%;
    }

    @media only screen and (min-width: 991px) and(max-width:1200px) {
      flex: 0 0 77.333333%;
      max-width: 77.333333%;
    }

    .content-row {
      .header {
        padding: 25px 30px;
        // background: #2a3954;
        background: #fff;
        min-height: 98px;

        // @media only screen and (max-width: 767px) {
        //   display: none;
        // }
        @media only screen and (min-width: 768px) and(max-width:990px) {
          padding: 10px 30px;
          min-height: 48px;
        }

        .tob-bar {
          display: flex;
          flex-direction: row;

          @media only screen and (max-width: 767px) {
            flex-direction: column;
            padding: 0;
          }

          .searchbox {
            max-width: 247px;

            @media only screen and (min-width: 768px) and(max-width:990px) {
              max-width: 200px;
            }

            span {
              &::before {
                content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087394372_search.png");
                position: absolute;
                top: 28%;
                left: 30px;
              }
            }

            .search {
              border-radius: 40px;
              width: 100%;
              background: #f7fafc;
              padding-left: 50px;
              height: 44px;
              padding-top: 0px;
              padding: 0;
              padding-left: 10px;
              color: #000 !important;
              &::placeholder {
              //  @include set-font("Gotham-book", 13px, #172b4d);

                font-family: 'Avenir Book';
                font-size: 13px;
                color:#172b4d ;
              }
            }
          }

          .inner_box_header {
            @media only screen and (max-width: 767px) {
              margin-bottom: 15px;
            }

            p {
              @media only screen and (max-width: 900px) {
                padding-right: 20px;
              }
            }

            .breadcum {
              position: relative;
              line-height: 24px;

              &:before {
                content: "";
                position: absolute;
                width: 50%;
                height: 1px;
                bottom: 0;
                left: 25%;
                border-bottom: 3px solid #43424B;
              }
            }
          }

          .actions {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 767px) {
              margin: 0 auto;
            }

            .notifications {
              padding: 0px 21px;
              background: url(/static/media/bxs-bell.b38f01fc.svg) no-repeat;
              width: 18px;
              height: 20px;
              position: relative;
              display: block;
              background-size: contain;

              .num {
                position: absolute;
                right: 20px;
                top: -5px;
                width: 15px;
                color: #fff;
                background-color: #FF0000;
                border: 2px solid #fff;
                border-radius: 50%;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 9px;
                font-weight: 700;
              }
            }

            .profile {
              cursor: pointer;
              text-transform: capitalize;

              @media only screen and (min-width: 901px) {
                padding: 0 30px;
                padding-right: 0;
              }

              span {
                padding: 14px;
                @include set-font("Avenir Medium", 15px, #43424B);
                line-height: 24px;
                font-weight: normal;
              }
            }

            .dropdown {
              button {
                &:focus {
                  box-shadow: none;
                }
              }

              .dropdown-menu {
                padding: 0;
                border: .5px solid #172030;
                border-radius: 0;
                top: 16px !important;

                &:before {
                  content: '';
                  display: inline-block;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-bottom: 5px solid #ccc;
                  border-bottom-color: #172030;
                  position: absolute;
                  top: -5px;
                  right: 0px;
                }

                a {
                  @include set-font("Avenir Medium", 15px, #43424B);

                  &:hover,
                  &.active {
                    background-color: #172030;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      .top-black-bar {
        background: #2a3954;

        @media only screen and (min-width: 768px) {
          min-height: 90px;
        }

        .bread-crumbs {
          padding: 0px 40px 20px 40px;

          @media only screen and (max-width: 767px) {
            padding: 10px 0px;
          }

          .navs {
            @include set-font("Gotham-medium", 21px, #fff);

            @media only screen and (max-width: 767px) {
              font-size: 18px;
            }

            padding-left: 34px;

            &.users {
              background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087522835_user.png") no-repeat;
            }

            &.dashboard {
              background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087555680_home.png") no-repeat;
            }

            &.nav-sub {
              padding-left: 7px;
            }
          }
        }
      }

      .content-block {
        background: #fff;
        padding-bottom: 25px;
        padding-left: 35px;
        padding-right: 35px;

        @media only screen and (max-width: 768px) and(min-width:420px) {
          padding: 30px 30px;
        }

        @media only screen and (max-width: 419px) {
          padding: 15px 15px;
        }

        .tz-admin-manage-block {
          width: 100%;
          max-width: 100% !important;
          background: #fff;
          margin: 0 auto;
          border-radius: 5px;
          box-shadow: 0px 1px 8px -6px #2c2828;
          display: block;

          @media only screen and (min-width: 768px) {
            margin-top: -39px;
          }
        }

        .edit-data {
          padding: 60px 30px !important;

          @media only screen and (max-width: 767px) {
            padding: 30px 15px !important;
          }

          h1 {
            @include set-font("Gotham-bold", 18px, #172b4d);

            @media only screen and (max-width: 767px) {
              font-size: 14px !important;
            }
          }

          .card {
            margin-top: 10px;

            .card-header {
              @include set-font("Gotham-medium", 15px, #172b4d);
            }

            .card-body {
              .form-group {
                label {
                  @include set-font("Gotham-medium", 12px, #172b4d);
                }

                .form-check-input {
                  margin-top: 0.5rem;
                }

                .form-control {
                  @include set-font("Gotham-book", 12px, #172b4d);
                  border: 1px solid #e2e2e2;

                  &.half {
                    width: 50%;

                    @media only screen and (max-width: 767px) {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }

          .text-info {
            display: block;
            margin: 0 auto;
            color: #172b4d !important;
          }
        }

        .title-bar {
          display: flex;
          padding: 15px 24px;

          .title {
            @include set-font("Gotham-medium", 18px, #172b4d);
            display: flex;
            align-items: center;
          }

          .export {
            margin-left: auto;
          }
        }

        .listusers {
          .table {
            thead {
              tr {
                border: none;

                th {
                  border: none;
                  @include set-font("Gotham-medium", 11px, #8898aa);
                  background: #f1f3f9;
                  padding: 12px 23px;
                  text-align: left;

                  @media only screen and (min-width: 768px) and(max-width:1200px) {
                    padding: 12px 5px;
                    font-size: 10px;
                  }
                }
              }

              @media only screen and (max-width: 767px) {
                display: none;
              }
            }

            tbody {
              tr {
                border: none;

                td {
                  border: none;
                  @include set-font("Gotham-book", 14px, #172b4d);
                  background: #f1f3f9;
                  padding: 12px 23px;
                  text-align: left;
                  vertical-align: middle;

                  @media only screen and (min-width: 768px) and(max-width:1200px) {
                    padding: 12px 5px;
                    font-size: 11px;
                  }

                  @media only screen and (max-width: 767px) {
                    text-align: center;
                    padding: 5px 23px;
                  }

                  img {
                    padding-right: 15px;

                    @media only screen and (max-width: 990px) {
                      padding-right: 0px;
                    }

                    @media only screen and (max-width: 767px) {
                      margin: 0 auto;
                    }
                  }
                }

                &.odd {
                  background: #fff;

                  td {
                    background: #fff;
                  }
                }

                &.even {
                  td {
                    background: #f7fafc;
                  }
                }

                @media only screen and (max-width: 767px) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  border-bottom: 1px solid #ccc;

                  padding: 10px 0px;

                  &:first-child {
                    border-top: 1px solid #ccc;
                  }
                }
              }
            }

            tr {
              td {
                .text-primary {
                  color: #172b4d !important;
                }

                &.name {
                  width: 28%;

                  @media only screen and (min-width: 1400px) {
                    width: 20%;
                  }

                  img {
                    width: 50px;
                    height: 50px;
                    object-fit: contain;

                    @media only screen and (max-width: 990px) {
                      display: flex;
                    }
                  }
                }

                &.date {
                  width: 10%;
                }

                &.general {
                  width: 10%;
                }

                &.email {
                  width: 20%;
                }

                &.approve {
                  width: 10%;
                }

                &.actions {
                  width: 15%;
                  text-align: center;

                  @media only screen and (min-width: 768px) and(max-width:990px) {
                    text-align: right;
                  }

                  .sm-screen-actions {
                    @media only screen and (min-width: 768px) {
                      display: none;
                    }

                    display: flex;

                    .btn-edit {
                      padding: 2px 16px;
                      margin-right: auto;
                      background: #11cdef;
                      border: 1px solid #11cdef;
                      @include set-font("Gotham-medium", 14px, #fff);

                      &:hover {
                        background: #fff;
                        @include set-font("Gotham-medium", 14px, #11cdef);
                      }
                    }

                    .btn-dlt {
                      padding: 2px 16px;
                      background: #aa2b2b;
                      border: 1px solid #aa2b2b;
                      @include set-font("Gotham-medium", 14px, #fff);

                      &:hover {
                        background: #fff;
                        @include set-font("Gotham-medium", 14px, #aa2b2b);
                      }
                    }
                  }

                  .lg-screen-actions {
                    .dropdown-menu {
                      .dropdown-item {
                        @include set-font("Gotham-book", 12px, #172b4d);
                      }
                    }

                    .dropdown-toggle {
                      &::after {
                        display: none !important;
                      }

                      &::before {
                        content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087585672_actions.png");
                      }
                    }

                    @media only screen and (max-width: 767px) {
                      display: none;
                    }
                  }

                  span {
                    background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087585672_actions.png") no-repeat;
                    display: inline-block;
                    width: 10px;
                    height: 20px;
                    cursor: pointer;
                  }
                }

                @media only screen and (max-width: 767px) {
                  width: 100% !important;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      .submit {
        padding: 10px 0px;

        .submit-btn {
          margin-right: 20px;
          outline: none;
        }
      }

      .submit-btn {
        background: #11cdef;
        border: 1px solid #11cdef;
        width: 120px;
        padding: 10px 0px;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        border-radius: 5px;
        @include set-font("Gotham-bold", 13px, #fff);

        &:hover {
          background: #fff;
          color: #11cdef;

          .text-primary {
            color: #11cdef !important;
          }
        }

        .text-primary {
          color: #fff !important;
          height: 1rem !important;
          width: 1rem !important;
          margin-right: 5px;
        }
      }

      .cancel-btn {
        background: #667d81;
        border: 1px solid #667d81;
        padding: 13px 30px;
        border-radius: 5px;
        text-decoration: none;
        width: 120px;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        @include set-font("Gotham-bold", 13px, #fff);

        &:hover {
          background: #fff;
          color: #667d81;
        }
      }

      .success {
        @include set-font("Avenir Medium", 13px, #3fd53f);
      }

      .error {
        @include set-font("Avenir Medium", 13px, red !important);
      }

      .validate_error {
        @include set-font("Avenir Medium", 13px, red !important);
      }
    }

    /************pagination*************/
    .paginate {
      float: right;
      margin-right: 40px;

      .pagination {
        li {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid #8898aa4a;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          @include set-font("Gotham-book", 13px, #8898aa);

          a {
            @include set-font("Gotham-book", 13px, #8898aa);

            .left {
              background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087635100_left.png") no-repeat;
              height: 15px;
              width: 15px;
              display: block;
              background-position: center;
            }

            .right {
              background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087659335_right.png") no-repeat;
              height: 15px;
              width: 15px;
              display: block;
              background-position: center;
            }
          }

          &.active {
            border: 1px solid #11cdef;
            background: #11cdef;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/*************************CTEGORY***********************/
.categories-wrap {
  .card-header {
    @include set-font("Gotham-book", 18px);

    .add-cat-btn {
      background: #11cdef;
      border: 1px solid #11cdef;
      border-radius: 2px;
      box-shadow: 0px 1px 8px -6px #2c2828;
      font-family: 'Montserrat Medium';
      font-size: 13px;
      color: #fff;

      &:hover {
        background: #fff;
        color: #11cdef;
      }
    }
  }

  .categories-add {
    label {
      font-family: 'Avenir Book' !important;
      font-size: 13px;
      line-height: 16px;
      color: #212531;
    }

    input {
      @include set-font("Avenir Book", 14px, #212531);
      border-radius: 0;
    }

    .error {
      margin: 0;
      margin-bottom: 20px;
      text-align: left;
    }

    .save-btn {
      padding: 10px 30px;
      background: #0050A8;
      border: 1px solid #0050A8;
      border-radius: 2px;
      box-shadow: 0px 1px 8px -6px #0050A8;
      font-family: "Avenir Book";
      font-size: 13px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        background: #fff;
        color: #0050A8;
      }
    }

    .rem-btn {
      background: #c9364e;
      border: 1px solid #c9364e;
      border-radius: 2px;
      box-shadow: 0px 1px 8px -6px #2c2828;
      font-family: 'Montserrat Medium';
      font-size: 13px;
      color: #fff;

      &:hover {
        background: #fff;
        color: #c9364e;
      }
    }

    .add-btn {

      background: #0050A8;
      border: 1px solid #0050A8;
      border-radius: 2px;
      box-shadow: 0px 1px 8px -6px #0050A8;
      font-family: "Avenir Book";
      font-size: 13px;
      color: #fff;

      &:hover {
        background: #fff;
        color: #0050A8;
      }
    }

    .attributes {
      table {
        thead {
          background: #eee;
        }

        tr {
          td {
            @include set-font("Gotham-book", 13px, #172b4d);
            vertical-align: middle;
          }

          th {
            @include set-font("Gotham-book", 13px);
          }
        }
      }
    }
  }

  .categories-list {
    table {
      tr {
        td {
          @include set-font("Gotham-book", 15px, #172b4d);
        }

        th {
          @include set-font("Gotham-book", 15px);
        }
      }
    }

    .del-btn {
      background: #fff;
      border: 1px solid #c9364e;
      border-radius: 2px;
      box-shadow: 0px 1px 8px -6px #2c2828;
      font-family: 'Montserrat Medium';
      font-size: 13px;
      color: #c9364e;

      &:hover {
        background: #c9364e;
        color: #fff;
      }
    }

    .edit-btn {
      background: #fff;
      border: 1px solid #11cdef;
      border-radius: 2px;
      box-shadow: 0px 1px 8px -6px #2c2828;
      font-family: 'Montserrat Medium';
      font-size: 13px;
      color: #11cdef;

      &:hover {
        background: #11cdef;
        color: #fff;
      }
    }

    .view-btn {
      background: #fff;
      border: 1px solid #11cdef;
      border-radius: 2px;
      box-shadow: 0px 1px 8px -6px #2c2828;
    //  font-family: "Gotham-book";
      font-family: 'Avenir Book';
      font-size: 13px;
      color: #11cdef;

      &:hover {
        background: #11cdef;
        color: #fff;
      }
    }
  }
}

.adminNothingFoundMsg {
  @include set-font("Gotham-book", 15px, #172b4d);
}

.content .content-row .top-black-bar .bread-crumbs .navs.settings {
  background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087728529_settings.png") no-repeat;
  padding-top: 2px;
}

/*************************END CATEGORY******************/
/**********************Login page***************************/
#admin_login {
  background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087752730_admin-login-bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  padding: 0px 20px;

  .loginbox {
    width: 100%;
    max-width: 394px;
    padding: 35px 40px;
    background: #f7fafc;
    border-radius: 5px;
    box-shadow: -1px 1px 6px 0px #00347a40;

    h1 {
      @include set-font("Gotham-bold", 25px, #172b4d);
      text-align: center;
    }

    p {
      @include set-font("Gotham-book", 15px, #172b4d);
      text-align: center;
    }

    .error {
      p {
        @include set-font("Gotham-book", 13px, red);
      }
    }

    .sucess {
      p {
        @include set-font("Avenir Medium", 13px, green);
      }
    }

    .form-group {
      display: flex;
      align-items: left;
      flex-direction: column;

      .username {
        position: absolute;
        background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087779422_mail.png") no-repeat;
        display: block;
        width: 20px;
        height: 16px;
        margin-left: 24px;
        margin-top: 15px;
      }

      .password {
        position: absolute;
        background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087804605_lock.png") no-repeat;
        display: block;
        display: block;
        width: 16px;
        height: 19px;
        margin-left: 24px;
        margin-top: 12px;
      }

      .field {
        max-width: 300px;
        padding: 0px !important;
        padding-left: 50px !important;
        height: 44px;
        box-shadow: 0px 4px 10px -5px #929eaacf;
        border: none;
        margin: 0 auto;
       // line-height: 10;
        padding-bottom: 5px;
      //  @include set-font("Gotham-book", 14px, #172b4d);
      font-family: 'Avenir Book';
        &::placeholder {
          color: #000;
          font-family: 'Avenir Book';
       //   @include set-font("Gotham-book", 14px, #172b4d);
        }
      }

      .danger {
        font-family: 'Avenir Book';
    //    @include set-font("Gotham-book", 12px, red);
        padding-left: 10px;
      }
    }

    .login-optons {
      flex-direction: row;

      @media only screen and (max-width: 420px) {
        flex-direction: column;
      }

      span {
        @include set-font("Gotham-book", 13px, #172b4d);
        padding: 10px;
      }

      .custom-control {
        padding-bottom: 6px;
      }

      .custom-control-label {
        &::before {
          // top: 0.5rem;
          box-shadow: 0px 3px 6px -1px #7070706b;
          border: none;
          width: 21px;
          height: 21px;
          // left: -0.97em;
          border-radius: 4px !important;
        }

        &::after {
          padding-left: 12px;
          top: 6px;
        }

        @media only screen and (max-width: 420px) {
          text-align: center;
        }
      }

      .forgotpassword {
        text-align: right;
        padding-top: 3px;

        @media only screen and (max-width: 420px) {
          text-align: center;
        }

        a {
          @include set-font("Gotham-book", 13px, #11cdef);
          text-transform: capitalize;
        }
      }
    }

    .admin-login-btn {
      width: 100%;
      max-width: 134px;
      height: 50px;
      margin: 0 auto;
      display: block;
      text-align: center;
      background: #11cdef;
      border: 1px solid #11cdef;
      border-radius: 4px;
      margin-top: 35px;
      @include set-font("Gotham-medium", 18px, #fff);

      .text-info {
        color: #fff !important;
        margin-right: 5px;
      }

      &:hover {
        color: #11cdef;
        background: #fff;

        .text-info {
          color: #11cdef !important;
        }
      }
    }
  }
}

/***********************end login page**********************/
/**************ADMIN MENU SLIDE ***********/
#admin-menu-off {
  pointer-events: none;

  .close {
    display: none;
  }
}

#admin-menu-on {
  pointer-events: unset;
}

#admin-menu-on,
#admin-menu-off {
  .bm-overlay {
    background: #172030 !important;
    right: 0;
    top: 0;
    width: 36% !important;
    z-index: 1060 !important;
    opacity: 0.8;

    @media only screen and (max-width: 767px) {
      width: 100% !important;
    }
  }

  .bm-menu-wrap {
    width: 36% !important;
    right: 0 !important;
    padding-top: 50px;

    @media only screen and (max-width: 767px) {
      width: 100% !important;
    }

    .bm-item-list {
      .menu-item {
        @include set-font("Gotham-book", 13px, #fff);
        text-transform: uppercase;
        padding: 20px 0px;
      }
    }
  }
}

/**************END ADMIN MENU SLIDE**********/
/******************check box style************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 19px;

  /* Hide default HTML checkbox */
  input {
    display: none;
  }

  .approve-label {
    padding-left: 40px;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f9fc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1.5px solid #172b4d;

  &::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: #8898aa;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input.default:checked+.slider {
  background-color: #fff;
  border: 1.5px solid #11cdef;

  &::before {
    background-color: #11cdef;
  }
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*modal style*/
.delete-popup {
  .modal-title {
    @include set-font("Gotham-medium", 18px, #172b4d);
  }

  .modal-body {
    background: #e4e4e4 !important;
    @include set-font("Gotham-medium", 14px, #172b4d);
  }
}


.addpage-form-wrap {
  .addpage-form {
    width: 100%;

    .form-group {
      margin-bottom: 20px;
      background-color: #fff;
      padding: 30px;
      box-shadow: 0px 0px 5px #00000017;
      border: 1px solid #f2f2f2;

      @media only screen and (max-width: 767px) {
        padding: 20px;
      }
        select{
          border: 1px solid #C2D1D8;
    border-radius: 5px;
    font-family: "Avenir Medium";
    font-size: 14px;
    color: #7D8AA5;
    letter-spacing: .28px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
        }
      .form-control {
        border: 1px solid #C2D1D8;
        border-radius: 5px;
        @include set-font("Avenir Medium", 14px, #7D8AA5);
        line-height: 17px;
        letter-spacing: .28px;
        white-space: pre-wrap;
        &:focus {
          box-shadow: none;
        }
      }

      .error {
        @include set-font("Avenir Medium", 13px, red !important);
      }

      .success {
        @include set-font("Avenir Medium", 13px, green !important);
      }

      label {
        @include set-font("Avenir Medium", 18px, #000000);
        line-height: 22px;
        letter-spacing: .36px;
      }
    }

    .rdw-editor-wrapper {
      box-shadow: 0px 0px 5px #00000017;
      margin-bottom: 20px;

      .rdw-editor-toolbar {
        margin-bottom: 0;
      }

      .rdw-editor-main {
        background-color: #fff;
        min-height: 250px;
        padding: 0px 12px;
      }
    }

    .collapse-wrapper {
      background-color: #fff;
      box-shadow: 0px 0px 5px #00000017;
      margin-bottom: 20px;

      .title-collapse {
        a {
          padding: 20px 30px;
          display: block;
          letter-spacing: 1px;
          text-decoration: none;
          position: relative;
          @include set-font("Avenir Medium", 15px, #000000);
          line-height: 18px;
          letter-spacing: .3px;
          text-align: left;
          background-color: #fff;

          &:before {
            content: "";
            float: right;
            transition: all 0.5s;
            background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087869707_down-arrow.svg") no-repeat;
            display: block;
            width: 9px;
            height: 5px;
            margin-top: 10px;
          }

          &.collapsed {
            &:before {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }
      }

      .collapse {
        &.show {
          border-top: 1px solid rgb(236, 236, 236);
        }

        select {
          @media only screen and (min-width: 768px) {
            width: 40%;
          }
        }
      }
    }


    .form-btn-wrap {
      a {
        @include set-font("Avenir Book", 13px, #F53C56);
        margin-right: 20px;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      button {
        background: #0050A8 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #2C28281C;
        border-radius: 5px;
        @include set-font("Avenir Book", 13px, #FFFFFF);
        line-height: 16px;
        border: 1px solid #0050A8;

        &:hover {
          background: #fff 0% 0% no-repeat padding-box;
          color: #0050A8;
        }
      }
    }

    .editor-div {

      .cke_chrome,
      .cke_ltr {
        width: 99% !important;
      }
    }

    .editor-source-div {
      textarea {
        width: 100%;
      }
    }
    .relDate 
    {

      .react-datepicker-wrapper {
        display: inline-block;
        padding: 0;
        border: 0;
        width: 100%;

        input , select{
          border: 1px solid #C2D1D8;
          border-radius: 5px;
          font-family: "Avenir Medium";
          font-size: 14px;
          color: #7D8AA5;
          letter-spacing: .28px;
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-weight: 400;
          line-height: 1.5;
          background-color: #fff;
          background-clip: padding-box;

          &:focus{
            border:none;
          }
      }
  

      }
   
    }


  }
}

.faq-list-table-wrapper {
  .rdt_TableCell {
    a {
      color: #172B4D;
      text-decoration: none;
      cursor: pointer;
      &.blue{
        color: #0050A8 !important;
      }
      &:hover {
        color: #0050A8;
      }
    }

    &:nth-child(2) {
      div {
        color: #0050A8 !important;
      }
    }
  }
}

.addfaq-from-wrap {
  .faq-sideinputs {
    box-shadow: 0px 3px 6px #2C28281C;

    .form-group {
      margin-bottom: 0;
    }

    .collapse-wrapper {
      margin-bottom: 0;
    }

    .faq-btns {
      display: inline-block;
      width: 100%;
      padding: 10px 10px 6px 10px;
    }

    .checkbox-label {
      display: block;
      font-family: 'Avenir Book' !important;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      input:checked~.checkmark {
        background-color: #C7D8E1;
      }

      input:checked~.checkmark:after {
        display: block;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        background-color: #fff;
        border: 2px solid #C7D8E1;

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 4px;
          top: 0px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      &:hover input~.checkmark {
        background-color: #C7D8E1;
      }

      input:checked~.checkmark {
        background-color: #C7D8E1;
      }
    }
  }
}

.order-summary-details-wrapper {
  box-shadow: 0px 0px 5px #00000017;
  margin-bottom: 20px;

  .head-wrap {
    border-bottom: 1px solid #ECECEC;

    h2 {
      @include set-font("Avenir Medium", 18px, #000000);
      line-height: 22px;
      letter-spacing: .36px;
      margin-bottom: 0;
      padding: 20px 30px;
    }
  }

  .details-wrap-div {
    .col-xs-6 {
      @media only screen and (max-width: 767px) {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }

    padding: 20px 30px 40px 30px;

    .title-div {
      @include set-font("Avenir Medium", 14px, #000000);
      letter-spacing: .28px;
      line-height: 26px;
      word-break: break-all;
    }

    .detail-content-div {
      @include set-font("Avenir Medium", 14px, #888888);
      letter-spacing: .28px;
      line-height: 26px;
      word-break: break-all;
    }
  }

}

.order-summary-tab-wrapper {

  box-shadow: 0px 0px 5px #00000017;

  ul.nav {
    li {
      flex: 0 0 33%;
      max-width: 33%;
      background-color: #F1F1F1;
      text-align: center;

      a {
        @include set-font("Avenir Medium", 15px, #000000);
        letter-spacing: .3px;
        line-height: 18px;
        padding: 17px;
        text-decoration: none;
        display: block;

        @media only screen and (max-width: 767px) {
          font-size: 12px;
          padding: 10px;
        }
      }

      &.active {
        background-color: #FBFBFB;

        a {}
      }
    }
  }

  .tab-common-header {
    border-bottom: 1px solid #ECECEC;
    padding: 20px 30px;

    ul {
      li {
        a {
          padding: 3px 10px;
          border: 1px solid #C2D1D8;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 30px 50px 30px;

    .edit-details-head {
      @include set-font("Avenir Medium", 18px, #000000);
      line-height: 22px;
      letter-spacing: .36px;
    }

    .edit-details-wrap {



      .react-datepicker-wrapper {
        width: 100%;

        .react-datepicker__input-container {
          input , select{
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            height: 30px;
            border-radius: 5px;
            font-family: 'Avenir Book' !important;
            font-size: 13px;
            line-height: 16px;
          }
        }
      }


      .form-group {

        select {
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          height: 30px;
          border-radius: 5px;
          font-family: 'Avenir Book' !important;
          font-size: 13px;
          line-height: 16px;
        }


        .error {
          @include set-font("Avenir Medium", 13px, red !important);
        }

        label {
          @include set-font("Avenir Medium", 14px, #000000);
          letter-spacing: .28px;
          line-height: 20px;
        }

        .form-control,
        .react-datepicker-ignore-onclickoutside {
          height: 30px;
          border-radius: 5px;
          font-family: 'Avenir Book' !important;
          font-size: 13px;
          line-height: 16px;

        }

        .bgenerate {
          color: #fff;
          font-family: 'Avenir Book' !important;
          font-size: 13px;
          line-height: 16px;
          background: #0050A8 0% 0% no-repeat padding-box;
          box-shadow: 0px 3px 6px #2C28281C;
          border-radius: 5px;
          border: 1px solid #0050A8;

          &:hover {
            background: #fff 0% 0% no-repeat padding-box;
            color: #0050A8;
          }
        }

        .customer-link {
          a {
            border: 1px solid #C2D1D8;
            border-radius: 5px;
            font-family: 'Avenir Book' !important;
            font-size: 13px;
            line-height: 16px;
            text-decoration: none;
            padding: 5px 20px 5px 39px;
            color: #212531;
            position: relative;

            &:before {
              content: "";
              background: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602087899177_view-icon.png") no-repeat;
              position: absolute;
              width: 15px;
              height: 10px;
              display: block;
              top: 9px;
              left: 19px;
            }
          }
        }
      }
    }
  }

  .order-details-btns {
    .input-group-btn {
      outline: none;
    }

    a {
      @include set-font("Avenir Book", 13px, #F53C56);
      margin-right: 20px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    button {
      background: #0050A8 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #2C28281C;
      border-radius: 5px;
      @include set-font("Avenir Book", 13px, #FFFFFF);
      line-height: 16px;
      border: 1px solid #0050A8;

      &:hover {
        background: #fff 0% 0% no-repeat padding-box;
        color: #0050A8;
      }
    }
  }
}

.news-add-wrap {
  .checkbox-div {
    label {
      padding-right: 10px;
    }
  }
}

.ck-editor {
  .ck-content {

    p,
    h1,
    h2,
    h3,
    li {
      font-family: "Avenir Medium";
      color: #7D8AA5;
    }
  }
}


.product-attribute-tab,
.product-downloads-content {
  .gallery-dimension-wrap {
    .gallery-single {
      input[type=file] {
        border: none;
        padding: 10px 0
      }

      .multi-preview {
        display: flex;
        flex-wrap: wrap;
    justify-content: start;

        .single-img {
          position: relative;
          padding: 5px;

          span {
            position: absolute;
            right: 0px;
            bottom: 0;
            top: -5px;
            cursor: pointer;
          }

          img {
            margin-right: 10px;
          }
        }
      }

      a {
        font-size: 13px;
        display: block;

      }

      .image-item {
        display: flex;
        margin: 10px 0;
      }

      .image-item__btn-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }

      label {
        font-family: "Avenir Medium";
        font-size: 18px;
        color: #000000;
      }

      border: 1px solid #ddd;
      padding: 10px;

      &:first-child {
        margin-bottom: 10px;
      }

      .image-wrap {
        button {
          font-family: "Avenir Book";
          background-color: #0050a8;
          color: #fff;
          margin-right: 10px;
          font-size: 14px;
          padding: 3px 10px;
          border: 1px solid #0050a8 !important;

          &.remove-btn {
            background-color: #dc3545;
            border: 1px solid #dc3545 !important;

            &:hover {
              background-color: #fff;
              color: #dc3545;
            }
          }

          &:hover {
            background-color: #fff;
            color: #0050a8;
          }
        }

        .image-single {
          margin-top: 10px;

          img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
          }

        }
      }
    }
  }
}

// Product listing styles
.products {
  .bubble {
    display: flex;
    align-items: center;

    &:before {
      display: inline-block;
      content: '';
      -webkit-border-radius: 0.375rem;
      border-radius: 0.375rem;
      height: 10px;
      width: 10px;
      margin-right: 0.5rem;
      background-color: #2DCE98;
    }

    &.red {
      &:before {
        background-color: #F53C56;
      }
    }
  }
}

.cms-footer-content-wrap {
  .col-num-radio-wrap {
    display: flex;
    align-items: center;

    input {
      margin-right: 5px;
    }

    span {
      margin-right: 10px;
    }
  }

  .col-num-content-wrap {
    .col-content-single {
      textarea {
        height: 100px;
        resize: none;
      }
    }
  }
}

.integrator {
  .profile_up {
    border: 0px solid !important;
  }

  .multi-preview {
    display: flex;

    .single-img {
      img {
        margin-right: 10px;
      }
    }
  }

  .uploadfiles {
    .profile_up {
      max-width: inherit;

      label {
        justify-content: end;

        .pro_img {
          display: none;
        }

        .upload_img {
          width: 25%;
        }
      }

      .profile_img {
        display: block !important;
      }
    }

    &:hover {
      .upload-img-label {
        display: none !important;
      }
    }
  }

}
.preview_grp 
{
  padding: 12px 0px;
  .input-group-btn {
    display: flow-root;

    .btn-info
    {
      background: #0050A8 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #2C28281C;
      border-radius: 5px;
      font-family: "Avenir Book";
      font-size: 13px;
      color: #FFFFFF;
      font-weight: "normal";
      line-height: 16px;
      border: 1px solid #0050A8; 

      &:hover{
        background: #fff 0% 0% no-repeat padding-box;
        color: #0050A8;
    
      }
    }
  }

}
.fileupload
{

  .mediaupload{
    .drag-drop{
      border: 4px dashed #b4b9be;
      height: 200px;
      position: relative;
      display: block;
    
      .drag-drop-inside{
        margin: 70px auto 0;
        width: 250px;
        p{
          display: block;
          text-align: center;
          color: #a0a5aa;
          font-size: 14px;
          margin: 5px 0;
         
        }
        .drag-drop-info {
          
            font-size: 20px;
            display: block;
            text-align: center;
            color: #a0a5aa;
            margin: 5px 0;
        
        }
       
        .drag-drop-buttons
        {
          display: block;
          text-align: center;
          margin: 5px 0;
          .btn
          {
    
            background: #0050A8 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #2C28281C;
            border-radius: 5px;
            font-family: "Avenir Book";
            font-size: 13px;
            color: #FFFFFF;
            font-weight: "normal";
            line-height: 16px;
            border: 1px solid #0050A8; 
    
            &:hover{
              background: #fff 0% 0% no-repeat padding-box;
              color: #0050A8;
          
            }
    
          }
          .spinner-border
          {
            display: block;
            margin: 9px auto;
          }
    
         
        }
    
      }
        
    }
    
    }
    
    .multi-preview {
      margin-top: 50px;
      .single-img
      {
        margin-bottom: 20px;
        span
        {
          cursor: pointer;
        }
      }
    }
    

}

.red{
  color:red !important;

}

.green{
  color:green!important;
}
.page-edits{
  text-transform: capitalize;
}
.home-inner-content .rdt_TableBody .dropdown-item.active, .home-inner-content .rdt_TableBody .dropdown-item:active {
  color: #172B4D;
  text-decoration: none;
  background-color: transparent!important;
}
.home-inner-content .rdt_TableBody .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: transparent
}
.admin-video-training-page {
  .video_add_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px !important;
    min-height: 40px;
    padding: 0px !important;
  }
}
.archive_sec
{
  a.archive_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px !important;
  min-height: 40px;
  padding: 0px !important;
}

}
.admin-live-training-list-page{
  .video_add_btn{
    margin-left: 0px !important;
    min-height: 40px !important;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.admin-live-training{
  
  .hideTimebox{
    display: none !important;
  }
  .showTimebox{
    display: block;
  }
  .live-training-dates{
    width: 100%;
    border: 1px solid #C2D1D8;
    border-radius: 5px;
    font-family: "Avenir Medium";
    font-size: 14px;
    color: #7D8AA5;
    font-weight: "normal";
    line-height: 17px;
    letter-spacing: .28px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
  }
  .form-group-product{
    margin-bottom: 15px;
  }
  .form-group-datetime {
    display: flex;
    justify-content: space-between;
  }
  .form-group-time select {
    margin: 0px 5px;
  }

  .checkbox-div{
    display: flex;
    align-items: center;
    label {
      margin:0px;
      padding-left: 10px;
    }
  }

}

.redirect_all_ips{
  span{
    font-family: "Avenir Medium";
    font-size: 14px;
    color: #7D8AA5;
  }
}
.browse-media{
  .insert-media{
    button {
      background: #084d9d;
      border-color:#084d9d;
    }
  }
  .media-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    position: relative;
    .attachment-preview {
      width: 20%;
      flex: 1 0 20%;
      position: relative;
      box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
      background: #eee;
      cursor: pointer;
      .thumbnail {
        height: 100%;
        .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
      }
      button.check {
        position: absolute;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 24px;
        width: 24px;
        padding: 0;
        border: 0;
        position: absolute;
        z-index: 10;
        top: -10px;
        right: -10px;
        outline: 0;
        background: #eee;
        cursor: pointer;
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0,0,0,.15);
        background-color: #0073aa;
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
      } 
      span.media-modal-icon {
        background-position: -21px 0;
        display: block;
        height: 15px;
        width: 15px;
        margin: 5px;
        background-image: url(https://spa.webeteerprojects.com/wp-includes/images/uploader-icons.png);
        background-repeat: no-repeat;
      }
      &.selected {             
        button.check {            
            display: block;            
        }      
        
      }
    }
  }
}