@import "../fonts/stylesheet.css";

//----footer-----
// #footer{
//     .top-footer{
//         .footer_container{
//             .row{
//                 .col-md-2{
//                 .content_sectionss{
//                     h3.widgettitle{
//                         margin-top: 13px !important;
//                         color: #fff !important;
//                     }
//                 }
//             }
//         }
//     }
// }

//----------------------------categoies banner common responsive---------------

.category-banner-container {
  .slick-slider {
    .slick-list {
      .category-banner-section {
        @media only screen and (max-width: 767px) {
          padding: 30px 22px 30px 22px !important;
        }

        .banner-content {
          @media only screen and (max-width: 990px) {
            flex-basis: auto;
            margin: 30px 23px 25px 0px;
            position: relative;
            top: -10px;
          }

          @media only screen and (max-width: 767px) {
            margin: 30px 23px 12px 0px;
          }
        }
      }
    }
  }
}

//----------------------Contact page Start ------------------------------

#contact-us {
  .contact-banner {
    height: 470px;
    position: relative;

    @media only screen and (max-width: 768px) {
      height: 290px;
    }

    .cnt_banner_bg {
      background: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602090783503_contact-bg.jpg)
        0px 0px no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;

      // background-attachment: fixed;
      .abg {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        background: #352d3fde;
      }

      .cnthedng {
        position: absolute;
        top: 50%;
        left: 40px;
        right: 40px;
        transform: translateY(-50%);
        text-align: center;
        z-index: 10;
        padding-top: 60px;

        @media only screen and (max-width: 767px) {
          padding-top: 0px;
        }

        @media only screen and (min-width: 1366px) {
          padding-top: 20px;
        }

        h1 {
          font-size: 60px;
          font-family: "Avenir Black" !important;
          text-transform: uppercase !important;
          color: #fff !important;
        }
      }
    }
  }

  #contact-section {
    .form-section {
      padding-top: 50px;
      padding-bottom: 50px;

      .contact-form-section {
        // background: #f4f4f4;

        @media only screen and (max-width: 1024px) {
          padding-top: 25px;
          padding-bottom: 25px;
        }

        @media only screen and (min-width: 768px) {
          // flex: 0 0 46%;
        }

        @media only screen and (min-width: 1025px) {
          //   padding: 0px 75px 60px 75px;
          //      margin-bottom: 30px;
          //     margin-left: 15px;
          border-right: 1px solid #f1f1f1;
          padding-right: 55px;
        }

        h1 {
          //   font-family: 'Avenir Heavy';
          //    font-size: 44px;
          font-size: 30px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          line-height: 29.77px;
          color: #373d48;
        }

        p {
          //font-family: 'Avenir Medium';
          font-size: 20px;
          font-family: "Roboto-Regular";
          font-weight: 300;
          line-height: 24px;
          color: #797979;
          margin: 20px 0px;

          a {
            color: #0050a8;
            text-decoration: none;

            &:hover {
              opacity: 0.8;
              text-decoration: none;
            }
          }
        }

        .contact-form {
          .form-group {
            label {
              color: #817e7e;
              // font-size: 15px;
              // font-family: 'Avenir Heavy', sans-serif;
              font-size: 20px;
              font-family: "Roboto-Regular";
              font-weight: 300;
              line-height: 24px;

              &:after {
                content: "*";
                color: red;
              }
            }

            .form-control {
              border-radius: 0 !important;
              color: #797979 !important;
              font-family: "Roboto-Regular";
            }

            textarea {
              resize: none;
            }

            textarea.comments {
              max-height: 100px !important;
              min-height: 174px !important;
              height: 120px !important;
            }
          }

          .btn-submit {
            @media only screen and (min-width: 768px) {
              //  margin-top: 60px;
            }

            button {
              // font-size: 24px;
              // font-family: 'Avenir Medium';
              // color: #0050A8;
              // background: transparent;
              // padding: 13px 20px;
              // border-radius: 0;
              // border: 1px solid #0050A8;
              // line-height: 1;

              font-size: 18px;
              font-family: "Roboto-Regular";
              font-weight: 500;
              line-height: 18px;
              background-color: #0050a8;
              padding: 8px 44px;
              border-radius: 7px;
              color: #fff !important;
              border: 1px solid #0050a8;
              margin-top: 15px;
              display: inline-block;
              outline: none;
              box-shadow: none;
              &:hover {
                background: transparent;
                color: #0050a8 !important;
              }
            }
          }

          .msg {
            color: #78c53c;
            padding-top: 20px;
          }
        }

        .danger {
          color: red;
        }
      }

      .contact-address {
        @media only screen and (max-width: 768px) {
          margin-top: 25px;
        }

        @media only screen and (min-width: 768px) {
          // margin-left: 6%;
          // flex: 0 0 46%;
          padding-left: 55px;
        }
        h2 {
          font-size: 30px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          line-height: 29.77px;
          color: #4f6377;
          margin-bottom: 25px;
        }
        .address-heading {
          margin-top: 45px;
          &.p_0 {
            margin-top: 0px !important;
          }
          h4 {
            font-size: 17px;
            color: #0050a8;
            //font-family: 'Avenir Medium';
            // font-weight: 900;
            //line-height: 1.6;
            font-size: 20px;
            line-height: 24px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
          }
          .tele_contact {
            margin-top: 20px;
          }
          p {
            margin-bottom: 0;
            // font-size: 15px;
            // font-family: 'Arial', sans-serif;
            font-size: 20px;
            line-height: 24px;
            font-family: "Roboto-Regular";
            font-weight: 300;
            color: #797979;
            &:nth-last-child(1) {
              margin-bottom: 30px;
            }

            a {
              //  color: #000;
              color: #797979;
              &:hover {
                color: #0050a8;
                text-decoration: none;
              }
            }
          }
        }

        .googlemap {
          position: relative !important;
          overflow: hidden;
          @media only screen and (max-width: 767px) {
            display: inline-block;
            width: 100%;
            height: 500px;
          }

          .map {
            position: relative !important;
            @media only screen and (min-width: 768px) {
              height: 315px !important;
            }

            @media only screen and (min-width: 1024px) {
              width: 382px !important;
            }

            @media only screen and (max-width: 767px) {
              position: initial !important;
            }
          }
        }
      }
    }
  }
}

// -----------------    download page  start   -------------------
#download {
  .dwnld-banner {
    // height: 708px;
    height: 100%;
    position: relative;
    min-height: 427px;
    height: 427px;

    .dwnld_banner_bg {
      background: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602090889709_download-banner.jpg)
        0px 0px no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-attachment: fixed;

      .dbg {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 5;
        opacity: 0.7;
        background-color: #352d3f;
      }

      .dwnhedng {
        position: absolute;
        top: 50%;
        left: 40px;
        right: 40px;
        transform: translateY(-50%);
        text-align: center;
        z-index: 10;
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 1100px !important;
        /* display: flex; */
        margin: 0px auto;

        .row {
          .col-md-1 {
            @media only screen and (max-width: 991px) {
              display: none;
            }
          }
        }
        h1 {
          font-size: 60px;
          font-family: "Avenir Black" !important;
          text-transform: uppercase !important;
          color: #fff !important;
          margin-bottom: 45px;

          @media only screen and (max-width: 991px) {
            font-size: 20px !important;
          }
        }

        h6 {
          font-family: "Avenir Medium", sans-serif;
          font-size: 24px;
          color: #fff;
          margin-bottom: 30px;
        }

        .verion-btn {
          .btns {
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              // margin-top: 10px;
              // margin-bottom: 10px;
              background: #0050a8;
              font-family: "Avenir Medium", sans-serif;
              font-weight: 600;
              letter-spacing: 0.5px;
              font-size: 17px;
              border-radius: 5px;
              display: inline-block;
              min-width: 230px !important;
              border: 1px solid #0050a8;
              margin: 0 50px;
              cursor: pointer;
              height: 55px;
              padding: 3px 10px 5px 10px;
              @media only screen and (max-width: 767px) {
                margin: auto;
                font-size: 15px;
              }

              &:hover {
                color: #0050a8;
                background: #fff;
                border: 1px solid #fff;
                transition: all 0.3s ease-in-out;
              }

              &:nth-child(2):after {
                content: "HMI Software";
              }

              &:after {
                font-family: "Arial", sans-serif;
                font-size: 15px;
                font-weight: 600;
                line-height: 1;
                color: #fff;
                display: block;
                position: relative;
                top: 22px;
              }

              small {
                font-family: Arial, Helvetica;
                font-weight: 500;
                display: flex;
                justify-content: center;
                margin: 6px 0 0;
                font-size: 11px;
                line-height: 1;
              }
            }

            .first {
              &:after {
                content: "PLC Software";
              }
            }

            .second {
              &:after {
                content: "HMI Software";
              }
            }

            .third {
              &:after {
                content: "SCADA Software";
              }
            }
          }
        }
      }
    }
  }

  #dwn-some {
    padding-bottom: 50px;

    .head {
      h2 {
        color: #1050a8;
        font-family: "Avenir Heavy";
        font-size: 44px;
        text-align: center;
        margin-bottom: 15px;
      }
    }

    .brand-imgs {
      padding-bottom: 20px;
      padding-top: 10px;
    }
    .container {
      .row {
        @media only screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
        }
        .col {
          @media only screen and (max-width: 767px) {
            justify-content: center;
            display: flex;
          }
        }
      }
    }
  }

  .dwnload-common-section {
    @media only screen and (min-width: 768px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    .l-section {
      text-align: center;

      .cimon-comp-img {
        &:before {
          content: "";
          background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602090917241_wave-red.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 1260px;
          height: 770px;
          position: absolute;
          top: -50%;
          left: -50%;
          @media only screen and (max-width: 768px) {
            display: none;
          }

          @media only screen and (max-width: 1024px) {
            display: none;
          }
        }

        .img-fluid {
          position: relative;
        }
      }
    }

    .r-section {
      h2 {
        color: #0050a8;
        text-align: center;
        font-family: 'Avenir Medium'; 
      //  font-family: "Avenir Heavy";
        font-size: 24px;
      }
      
      .cicon-content {
        margin: 0 auto 15px;
        max-width: 410px;
       
        p {
          text-align: center;
          font-size: 15px;
          color: #2c313a;
        }
      }

      .btns {
        text-align: center;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 17px;
          font-family: "Avenir Medium", sans-serif;
          padding: 5px 15px;
          border-radius: 5px;
          min-width: 173px;
          margin-top: 20px;
          display: inline-block;
          min-width: 245px !important;
          font-weight: 900;
          cursor: pointer;

          small {
            font-family: Arial, Helvetica;
            font-weight: 500;
            display: block;
            margin: 6px 0 0;
            font-size: 12px;
            line-height: 1;
            text-transform: initial;
          }
        }

        .swr-dwnld {
          background-color: #0050a8;
          border: solid 1px #0050a8;
          margin: 0 auto;
          text-align: center;

          &:hover {
            opacity: 1;
            background: #352d3f;
          }
        }

        .manual-dwnld {
          background-color: #151829;
          border-color: #030607;
          padding: 15px 10px 15px 10px;

          &:hover {
            opacity: 1;
            background-color: #0050a8;
          }
        }
      }

      p {
        text-align: center;
        margin-top: 15px;

        a {
          color: #0050a8;
          cursor: pointer;

          &:hover {
            text-decoration: underline !important;
          }
        }
      }
    }
  }

  .plc-common-section {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 30px;

    .container {
      max-width: 1000px !important;

      .row {
        padding-bottom: 25px;
        .image-section {
          padding-left: 75px;
          h4 {
            font-size: 17px;
            font-family: "Avenir Medium";
            font-weight: bold;
            margin-bottom: 15px;
          }

          p {
            font-size: 15px;
            line-height: 16px;
          }

          &:before {
            content: "";
            width: 100%;
            height: 60px;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            left: 0px;
            top: -10%;
          }
        }

        .plc-conec {
          &:before {
            background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602090950937_chain.png);
          }
        }

        .pid-control {
          &:before {
            background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602090975265_pid.png);
          }
        }

        .plc-permi {
          &:before {
            background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091001588_lock.png);
          }
        }

        .plc-simul {
          &:before {
            background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091040969_simulator.png);
          }
        }
      }
    }
  }

  .xpanel-designer {
    padding-top: 90px;
    padding-bottom: 30px;
    .r-section {
      h2 {
        color: #0050a8;
        text-align: center;
        font-family: "Avenir Heavy";
        font-size: 44px;
      }
      p {
        max-width: 310px !important;
        margin: 0px auto;
      }
      .xpanel-content {
        margin: 25px auto 15px;
        max-width: 410px;
        padding-bottom: 25px;

        p {
          text-align: center;
          font-size: 15px;
          color: #2c313a;
        
        }
      }

      .xpanel-btns {
        text-align: center;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 17px;
          font-family: "Avenir Medium", sans-serif;
          padding: 5px 15px;
          border-radius: 5px;
          min-width: 173px;
          margin-top: 20px;
          display: inline-block;
          min-width: 245px !important;
          font-weight: 900;
          cursor: pointer;

          small {
            font-family: Arial, Helvetica;
            font-weight: 500;
            display: block;
            margin: 6px 0 0;
            font-size: 12px;
            line-height: 1;
            text-transform: initial;
          }
        }

        .soft-dwnld {
          background-color: #0050a8;
          border: solid 1px #0050a8;
          margin: 0 auto;
          text-align: center;

          &:hover {
            opacity: 1;
            background: #352d3f;
          }
        }

        .manual-dwnld {
          background-color: #151829;
          border-color: #030607;
          padding: 15px 10px 15px 10px;

          &:hover {
            opacity: 1;
            background-color: #0050a8;
          }
        }
      }

      p {
        text-align: center;
        margin-top: 15px;

        a {
          color: #0050a8;
          cursor: pointer;

          &:hover {
            text-decoration: underline !important;
          }
        }
      }
    }

    .second-section {
      .cimon-comp-img {
        @media only screen and (max-width: 991px) {
          text-align: center;
        }
        &:before {
          @media only screen and (min-width: 768px) {
            content: "";
            background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091076855_wave-green.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 970px;
            height: 770px;
            position: absolute;
            top: -50%;
            left: -30%;

            @media only screen and (max-width: 1024px) {
              display: none;
            }
          }
        }

        .img-fluid {
          position: relative;
        }
      }
    }
  }

  .drag-and-drop {
    .drag-drop {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091099942_drag.png);
      }
    }

    .xpanel {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091126735_gears.png);
      }
    }

    .smart-hmt {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091153010_plot.png);
      }
    }

    .conve {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091178841_hmi.png);
      }
    }
  }

  .ultimate-access {
    .l-section {
      .cimon-comp-img {
        text-align: center;

        &:before {
          content: "";
          background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091207203_wave-purple.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 1500px;
          height: 770px;
          position: absolute;
          top: -33%;
          left: -50%;

          @media only screen and (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }

  .library {
    .lib {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091236645_carpet.png);
      }
    }

    .netw {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091257379_globe.png);
      }
    }

    .odbc {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091278209_odbc.png);
      }
    }

    .redun {
      &:before {
        background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091297608_server.png);
      }
    }
  }

  .dwn-question {
    padding: 90px 0;

    .content-section {
      h3 {
        font-family: "Avenir Heavy";
        font-size: 44px;
        color: #2c313a;
        text-align: center;
      }

      p {
        margin: 5px auto 25px;
        max-width: 330px;
        font-size: 15px;
        text-align: center;
      }

      .qustn-btns {
        text-align: center;

        a {
          background: #0050a8;
          border-color: #0050a8;
          color: #fff;
          font-family: "Avenir Heavy", sans-serif;
          font-size: 20px;
          font-weight: 100;
          margin-top: 20px;
          display: inline-block;
          min-width: 180px;
          padding: 8px 9px 8px 9px;
          cursor: pointer;

          &:hover {
            background-color: #151829;
            border-color: #030607;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
          }
        }
      }
    }
    .img-section {
      @media only screen and (max-width: 767px) {
        margin-top: 35px;
      }
    }
  }
}

/*------------------------ ipc----------------------*/

#category-plc {
  .cimon-ipc-contact {
    .col-md-6 {
      img {
        margin-top: 0px !important;
      }
    }
  }
}
.product-ipc {
  @media only screen and (max-width: 990px) {
    overflow: hidden;
  }
  .cimon-ipc-contact {
    @media only screen and (min-width: 1200px) {
      padding-top: 110px !important;
      padding-bottom: 0px !important;
    }
    .col-md-6 {
      display: flex;
      /* align-items: center; */
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      img {
        margin-top: 30px;
      }
      &:last-child {
        @media only screen and (min-width: 768px) {
          padding-left: 40px;
        }
      }
      h3 {
        // font-family: 'Roboto', sans-serif;
        // font-weight: 500;
        font-family: "Roboto-Regular";
        color: #231f20;
        font-size: 30px;
        margin-bottom: 30px;
        @media only screen and (max-width: 767px) {
        }
        margin-top: 30px;
      }
      p {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        line-height: 24px;
        color: #797979;
        margin: 0px auto;
        text-align: left;
      }
      a.contact_support {
        background: #ea9103;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        line-height: 24px;
        color: #fff;
        padding: 6px 16px;
        display: inline-block;
        border-radius: 6.6px;
        margin-top: 30px;
        border: 1px solid #ea9103;
        text-decoration: none;
        @media only screen and (max-width: 767px) {
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
          display: block;
          max-width: 190px;
          text-align: center;
        }
        &:hover {
          background: transparent;
          color: #ea9103;
        }
      }
    }
  }
  .Certificates-grey {
    background: #f2f2f2;
    padding: 72px 0px;
    @media only screen and (max-width: 767px) {
      padding: 35px 0px;
    }

    .row {
      .col-md-6.content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media only screen and (max-width: 991px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
    .img-wrapper {
      img {
        width: 100%;
      }
    }
    .certificates {
      h3 {
        letter-spacing: 0px;
        color: #0050a8;
        opacity: 1;
        margin-bottom: 15px;
        font-size: 38px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        text-transform: uppercase;

        @media only screen and (min-width: 1400px) {
          font-size: 54px;
          line-height: 64.8px;
          margin-bottom: 32px;
        }
      }
      p {
        max-width: 365px;
        font-size: 20px;
        font-family: "Roboto-Regular";
        font-weight: 300;
        line-height: 22px;
        color: #797979;
        margin: 0px auto;
        text-align: center;
      }
      .learn-btn {
        margin: 0px !important;
        margin-top: 15px !important;
      }
    }
  }
  .learn-btn {
    @media only screen and (min-width: 768px) {
      display: flex;
      margin-top: 30px;
      justify-content: center !important;
      margin-bottom: 30px;
    }

    .learn-more {
      // padding: 11px 40px 9px 40px;
      // background: #0050A8;
      // color: #fff;
      // font-family: "Arial Regular";
      // font-weight: bold;
      // font-size: 18px;
      // line-height: 21px;
      // border-radius: 10px;
      // border: 1px solid #0050A8;

      background: #0050a8;
      color: #fff;
      border: 1px solid #0050a8;
      border-radius: 6px;
      opacity: 1;
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0px;
      outline: none;
      padding: 6px 23px;
      text-transform: capitalize;
      /* margin-top: 15px; */
      /* display: inline-block; */
      text-decoration: none;
      cursor: pointer;

      cursor: pointer;
      text-decoration: none;

      &:hover {
        background: #fff;
        color: #0050a8;
      }
    }
  }

  .ipc-panel-pc {
    @media only screen and (min-width: 991px) {
      padding-top: 107px;
      // padding-bottom: 50px;
      padding-bottom: 10px;
    }
    @media only screen and (min-width: 1366px) {
      padding-bottom: 100px;
    }

    .col-md-4 {
      padding: 0px 50px;

      &:nth-child(2) {
        @media only screen and (min-width: 990px) {
          border-left: 1px solid #66666694;
          border-right: 1px solid #66666694;
          padding-right: 50px;
          padding-left: 50px;
        }

        @media only screen and (min-width: 990px) {
          width: 43.8% !important;
          padding-left: 50px;
          padding-right: 50px;
        }
      }

      .cimon_box_two {
        //     @media only screen and (min-width:990px) {
        //         border-left: 1px solid #66666694;
        //         border-right: 1px solid #66666694;
        //         padding-right: 50px;
        //         padding-left: 50px;
        //     }

        //     @media only screen and (min-width:990px) {
        //         width: 43.8% !important;
        //         padding-left: 50px;
        //     }
      }

      .head-section {
        @media only screen and (max-width: 767px) {
          margin-top: 50px;
        }

        h3 {
          font-family: "Avenir Medium";
          font-size: 24px;
          color: #231f20;
          text-align: center;
        }

        p {
          font-family: "Arial Regular";
          font-size: 15px;
          color: #797979;
          text-align: center;
          line-height: 15.6px;
        }
      }

      .img-section {
        .img-fluid {
          @media only screen and (min-width: 768px) {
            height: 100%;
            min-height: 359px;
            object-fit: contain;
          }
        }
      }

      .content_sectionss {
        @media only screen and (min-width: 768px) {
          min-height: 208px;
          padding: 10px 30px 35px 35px;
        }

        ul {
          padding: 0px;

          li {
            font-family: "Avenir Heavy";
            font-size: 17px;
            color: #231f20;
            line-height: 20.4px;
            padding-top: 10px;
            list-style: square;
          }

          p {
            font-family: "Arial Regular";
            font-size: 15px;
            color: #797979;
            line-height: 15.6px;
          }
        }

        p {
          font-family: "Arial Regular";
          font-size: 15px;
          color: #797979;
          line-height: 15.6px;
        }
      }

      .btns-learn-more {
        justify-content: center;

        @media only screen and (max-width: 767px) {
          text-align: center;
          margin-top: 40px;
        }
      }
    }
  }

  .cimon-pc {
    @media only screen and (min-idth: 768px) {
      padding-top: 90px;
    }

    @media only screen and (min-width: 1366px) {
      // padding-top: 92px;
      padding-top: 10px;
    }

    .content {
      h3 {
        font-family: "Avenir Medium";
        font-size: 24.5px;
        color: #4d4d4d;

        @media only screen and (max-width: 990px) {
          margin-top: 40px;
          line-height: 40px;
        }
      }

      ul {
        li {
          font-family: "Avenir Heavy";
          font-size: 17px;
          color: #231f20;
          line-height: 20.4px;
          padding-top: 10px;
          list-style: square;
        }

        p {
          font-family: "Arial Regular";
          font-size: 15px;
          color: #797979;
        }
      }
    }

    .download-btn {
      //  justify-content: end !important;

      @media only screen and (max-width: 989px) {
        text-align: center;
      }

      .link-sect {
        @media only screen and (max-width: 990px) {
          margin-top: 30px;
        }

        a.dwn-ultimate {
          // font-family: 'Avenir Heavy';
          // font-size: 19px;
          // line-height: 22.8px;
          // font-weight: normal;
          // background: #0050A8;
          // color: #fff;
          // padding: 7px 17px 7px 17px;
          // line-height: 21px;
          // border-radius: 10px;
          // border: 1px solid #0050A8;
          // cursor: pointer;

          background: #0050a8;
          color: #fff;
          border: 1px solid #0050a8;
          border-radius: 6px;
          opacity: 1;
          text-align: left;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 16px;
          letter-spacing: 0px;
          outline: none;
          padding: 6px 23px;
          /* margin-top: 15px; */
          /* display: inline-block; */
          text-decoration: none;
          cursor: pointer;

          span {
            font-weight: 700;
          }

          @media only screen and (min-width: 991px) {
            margin-left: 25px;
          }

          &:hover {
            background: #fff;
            color: #0050a8;
            text-decoration: none;
          }
        }

        p.btn-notes {
          margin-top: 20px;
          text-align: center;
        }
        &:last-child {
          @media only screen and (min-width: 768px) and (max-width: 990px) {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .tittle-goes {
    padding-top: 30px;

    @media only screen and (min-width: 768px) {
      padding-top: 20px;
      padding-bottom: 0px;
    }
    @media only screen and (min-width: 1024px) {
      padding-bottom: 32px;
      // padding-top: 69px;
      padding-top: 100px;
    }

    .tittle-head {
      text-align: center;

      h2 {
        //    font-family: 'Avenir Heavy';
        font-size: 38px;
        //     line-height: 52px;
        color: #0050a8;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        @media only screen and (min-width: 1400px) {
          font-size: 54px;
          line-height: 64.8px;
        }
      }

      p {
        font-family: "Avenir Medium";
        font-size: 15px;
        color: #797979;
        line-height: 18.5px;
      }

      .img-fluid {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    &.gos-cust-1 {
      @media only screen and (max-width: 1023px) {
        padding-bottom: 20px;
      }
    }
  }

  .slider-section {
    @media only screen and (min-width: 768px) {
      padding-bottom: 20px;
    }

    .container {
      background: #f1f2f2;
      max-width: 1088px !important;
      padding-top: 35px !important;
      padding-bottom: 35px !important;
      @media only screen and (min-width: 768px) {
        padding-top: 45px !important;
        padding-bottom: 45px !important;
      }

      #carouselSingleSlider {
        .carousel-inner {
          .carousel-item {
            .img-fluid {
              margin: 0 auto;
              display: block;
              max-width: 812px;
              @media only screen and (max-width: 1024px){
                max-width: 100% !important;
              }
            }
          }
        }

        .carousel-control-prev {
          justify-content: flex-start;
          .carousel-control-prev-icon {
            background: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091321753_prev-icon.png)
              no-repeat;
            width: 30px;
            height: 40px;
          }
        }

        .carousel-control-next {
          justify-content: flex-end;
          .carousel-control-next-icon {
            background: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091342280_next-icon.png)
              no-repeat;
            width: 30px;
            height: 40px;
          }
        }
      }
    }
  }

  .tittile-goes-content {
    @media only screen and (min-width: 768px) {
      padding-top: 20px;

      @media only screen and (min-width: 1024px) {
        padding-top: 21px;
      }

      .tittle-goes-wrapper {
        max-width: 1018px;
        margin: 0px auto;

        .content-wrapper {
          // padding-bottom: 90px;

          @media only screen and (max-width: 767px) {
            margin-top: 25px;
            margin-bottom: 20px;
          }

          @media only screen and (min-width: 1366px) {
            // padding-bottom: 100px;
            margin: auto;
          }

          .content-section {
            h3 {
              font-family: "Avenir Medium";
              font-size: 24, 5px;
              line-height: 29, 4px;
              color: #4d4d4d;
            }

            p {
              font-family: "Arial Regular";
              font-size: 15px;
              line-height: 21px;
              color: #797979;

              @media only screen and (min-width: 990px) {
                max-width: 419px;
              }
            }
          }
        }
      }
    }
    @media only screen and (min-width: 990px) {
      padding-bottom: 10px;
    }
  }

  .plc-common-section {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 36px;

    .container {
      h4 {
        font-size: 24px;
        font-family: "Avenir Medium";
        margin-bottom: 15px;
        color: #4d4d4d;
        line-height: 29.4px;
      }

      p {
        font-size: 15px;
        line-height: 23.9px;
        font-family: "Arial Regular";
        color: #666666;
      }
    }

    &.quard-core {
      margin-top: 50px;
    }
  }

  .tittle-goes-2 {
    padding-top: 30px;
    padding-bottom: 20px;

    @media only screen and (min-width: 991px) {
      //padding-top: 90px;
    }

    .certificates {
      h3 {
        font-family: "Avenir Heavy" !important;
        font-size: 44px;
        color: #0050a8 !important;
        line-height: 52px;
        text-align: center;

        @media only screen and (min-width: 768px) {
          padding-bottom: 20px;
        }
      }

      p {
        text-align: center;
        margin: 0 auto;

        @media only screen and (max-width: 767px) {
          padding-bottom: 30px;
        }
      }

      .learn-btn {
        justify-content: center;

        @media only screen and (max-width: 990px) {
          text-align: center;
          margin-bottom: 30px;
        }

        @media only screen and (min-width: 768px) and (max-width: 990px) {
          margin-top: 20px;
        }
      }
    }
  }

  .more-with-cimon {
    padding-top: 40px;
    text-align: center;
    background: #f2f2f2;
    padding-bottom: 40px;

    .container {
      .row {
        width: 100%;
        max-width: 857px !important;
        margin: 0 auto;

        h2 {
          font-family: "Avenir Heavy";
          font-size: 44px;
          color: #0050a8;
          line-height: 52px;

          @media only screen and (max-width: 767px) {
            margin-bottom: 20px;
          }
        }

        .content-sec {
          @media only screen and (min-width: 768px) {
            margin-top: 30px;
            margin-bottom: 30px;
          }

          ul {
            padding: 0;

            li {
              list-style: none;
              background: #fff;
              padding: 17px 30px 33px 20px;
              margin-bottom: 20px;
              font-size: 14px;
              font-family: "Avenir-medium";
              line-height: 16.8px;
              max-height: 20px;
              margin-left: 0;
              //display: flex;

              @media only screen and (min-width: 991px) {
                max-width: 357px;
                min-width: 357px;
              }

              &:before {
                content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091367678_list_before.png);
                transform: translate(-173px, -18px);
                width: 10px;
                height: 10px;
                position: absolute;

                @media only screen and (max-width: 990px) {
                  display: none;
                }
              }

              .list {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .tittle-goes-wrapper {
    .content-wrapper,
    .img-wrapper {
      @media only screen and (max-width: 990px) {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}

//----------------------------Hybrid hmi-------------------------------//
#product-hybrid {
  .scada-container {
    .category-banner-container {
      .slick-slider {
        .category-banner-section {
          .banner-content {
            padding: 34px 29px 30px 29px;
          }
        }
      }
    }
  }

  .tittile-goes-content {
    .learn-btn {
      display: flex;
      justify-content: center;

      @media only screen and (max-width: 767px) {
        margin-top: 20px;
      }

      @media only screen and (min-width: 768px) {
        margin-bottom: 18px;
      }
    }
  }

  .hmi-new-section {
    h3 {
      // font-family: 'Avenir Heavy';
      // font-size: 44px;
      // line-height: 40.23px;
      // color: #0050A8;

      font-size: 38px;
      color: #0050a8;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      text-align: center;
      @media only screen and (min-width: 1400px) {
        font-size: 54px;
        line-height: 64.8px;
      }
    }

    p {
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      //  line-height: 18px;
      text-align: center;
      max-width: inherit;
    }

    .first-section {
      max-width: 1088px !important;
      @media only screen and (min-width: 990px) {
        padding: 65px 0px;
      }
      .content-section {
        h3 {
          @media only screen and (max-width: 767px) {
            text-align: center;
          }

          @media only screen and (min-width: 990px) {
            margin-bottom: 32px;
          }
        }
        p {
          margin-bottom: 45px;
        }
      }

      .x-panel-desinger {
        @media only screen and (min-width: 990px) {
          padding: 79px 53px 0px 0px;
          text-align: center;
        }
      }

      .img-wrapper {
        @media only screen and (max-width: 767px) {
          order: 2;
        }
      }
      .x-panel-desinger-new-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          font-size: 16px;
          background: #0050a8;
          color: #fff;
          padding: 8.5px 23.3px;
          outline: none !important;
          border: 1px solid #0050a8;
          box-shadow: none;
          border-radius: 7px;
          line-height: 18px;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          margin: 8px 0px;
          min-width: 236px;
          text-align: center;
          span {
            font-weight: 700 !important;
          }
          &:hover {
            background: #fff !important;
            color: #0050a8 !important;
          }
          &:last-child {
            background: #fff !important;
            color: #0050a8 !important;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border: 1px solid #ffffff !important;
            padding: 8.5px 14.3px !important;
            &:hover {
              border: 1px solid #0050a8 !important;
              background: #0050a8 !important;
              color: #ffffff !important;
            }
          }
        }
      }
    }

    .second-section {
      max-width: 1088px !important;
      @media only screen and (min-width: 990px) {
        padding: 100px 0px;
      }
      h3 {
        @media only screen and (max-width: 767px) {
          text-align: center;
        }
      }
      p {
        margin-bottom: 45px;
      }
      .x-panel-desinger-new-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          font-size: 16px;
          background: #0050a8;
          color: #fff;
          padding: 8.5px 23.3px;
          outline: none !important;
          border: 1px solid #0050a8;
          box-shadow: none;
          border-radius: 7px;
          line-height: 18px;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          margin: 8px 0px;
          min-width: 236px;
          text-align: center;
          span {
            font-weight: 700 !important;
          }
          &:hover {
            background: #fff !important;
            color: #0050a8 !important;
          }
          &:last-child {
            background: #fff !important;
            color: #0050a8 !important;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border: 1px solid #ffffff !important;
            padding: 8.5px 14.3px !important;
            &:hover {
              border: 1px solid #0050a8 !important;
              background: #0050a8 !important;
              color: #ffffff !important;
            }
          }
        }
      }
      .img-wrapper {
        @media only screen and (max-width: 767px) {
          order: 2;
        }
      }

      .x-panel-desinger {
        text-align: center;

        @media only screen and (min-width: 768px) {
          padding: 45px 53px 0px 0px;
        }

        .xpannel-access {
          padding: 7px 36px;
        }
      }
    }

    .third-section {
      .img-wrapper {
        @media only screen and (max-width: 767px) {
          order: 2;
        }
      }

      .certificates {
        text-align: center;

        h3 {
          @media only screen and (min-width: 768px) {
            margin-bottom: 25px;
            line-height: 52.8px;
          }
        }

        p {
          margin: 0 auto;
          line-height: 21.6px;
        }
      }

      .content-wrapper {
        padding-bottom: 0px;
      }
    }
  }

  .recommended-products {
    @media only screen and (min-width: 990px) {
      padding-top: 85px;
    }
  }

  .plc-common-section {
    .container {
      @media only screen and (min-width: 990px) {
        padding-right: 100px !important;
        padding-left: 100px !important;
      }
    }
  }

  .scada-button-box {
    padding-top: 0px !important;

    .dwn-xpanel {
      margin-right: 23px;
      margin-left: 30px;
    }

    .download-access {
      @media only screen and (max-width: 767px) {
        font-size: 14px !important;
      }
    }
  }

  .dwnload-box {
    margin-top: 25px;
  }
}

.mob-interchanges {
  .img-wrapper {
    @media only screen and (max-width: 767px) {
      order: 2;
    }
  }
}

.hybrid-fetured-point {
  ul {
    margin-top: 30px;

    @media only screen and (min-width: 990px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    li {
      font-family: "Avenir Heavy";
      font-size: 17px;
      color: #231f20;
      line-height: 20.4px;
      margin-bottom: 10px;
      list-style: square;
      margin-top: 20px;
    }

    p {
      color: #797979 !important;
      font-family: "Arial Regular" !important;
      line-height: 15.6px;
      font-size: 15px !important;
      text-align: left !important;
      max-width: 300px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 15px !important;
      }
    }
  }

  .second {
    ul {
      @media only screen and (max-width: 767px) {
        margin-top: 0px;
      }
    }
  }
}

//-----------buttons------------
.x-panel-desinger {
  @media only screen and (max-width: 767px) {
    text-align: center;
  }

  .xpannel-access {
    background: #0050a8;
    color: #fafcfd;
    border: 1px solid #0050a8;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
    font-family: "Avenir Heavy";
    font-size: 19px;
    letter-spacing: 0px;
    outline: none;
    padding: 7px 21px;

    &:hover {
      background: #fff;
      color: #0050a8;
      text-decoration: none;
    }

    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  p {
    text-align: center;
    margin-top: 10px;
  }
}

//-----------buttons------------

//----------------------------New About Page------------------------------

//banner content
.abt-banner-content {
  background: rgba(53, 45, 63, 0.83);
  padding: 34px 44px 30px 42px;
  max-width: 595px;
  width: 100%;
  color: #fff;

  @media only screen and (max-width: 767px) {
    padding: 34px 35px 30px 35px;
    max-width: 100%;
    flex: 0 0 88%;
    margin: 20px;
  }

  h2 {
    font-size: 59.93px;
    color: #fff;
    padding-bottom: 10px;
    font-family: "Avenir Black";
    text-transform: capitalize;
    border-bottom: solid 3px #fff;
    display: inline-block;
  }

  p {
    font-size: 14px;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    line-height: 16.8px;
  }
}

.about {
  @media only screen and (max-width: 767px) {
    overflow: hidden;
  }

  .about-banner {
    background-image: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091397207_about.jpg);
    display: flex;
    align-items: center;
    min-height: 586.71px;

    @media only screen and (max-width: 767px) {
      min-height: 370.71px;
    }
  }

  .abt-fifth-section {
    h2 {
      color: #0050a8;
    }

    .content {
      margin-top: 25px;

      p {
        font-family: "Arial Regular";
        font-size: 15px;
        line-height: 21px;
        color: #797979;
      }
    }
  }

  .testimonial-section {
    padding-bottom: 33px;

    .content {
      padding-top: 50px;
      padding-bottom: 50px;

      .post-entry {
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid #272d78;
        border-bottom: 1px solid #272d78;
        max-width: 819px;

        .testimonial-wrapper {
          margin: 30px 0;
          text-align: center;
          padding: 30px 0px;

          .test-content {
            max-width: 615px;
            margin: 0 auto;

            &:before {
              content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091426617_start-quote.png);
              left: 20px;
              position: absolute;
              top: 32px;
            }

            &:after {
              content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091445151_end-quote.png);
              position: absolute;
              right: 20px;
              bottom: 32px;
            }

            h4 {
              font-family: "Avenir-black";
              font-size: 24px;
              color: #989898;
              line-height: 28.8px;
              margin-bottom: 20px;
            }
          }
        }

        .cmply-details {
          strong {
            font-family: "Avenir-heavy";
            line-height: 18px;
            font-size: 15px;
            color: #989898;
            font-style: italic;
          }
        }
      }
    }
  }

  .recognition {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-section-eleven {
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 990px) {
      padding-top: 85px;
      padding-bottom: 77.7px;
    }

    .first-img-section {
      // position: absolute;
      height: 100%;
      width: 100%;
      z-index: 10;
      text-align: center;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      .img1 {
        display: block;
        position: relative;
        max-width: 100%;

        .img-fluid {
          cursor: pointer;

          // background-color: #000000;
          // opacity: 0.4;
          &:hover {
            opacity: 1;
          }
        }
      }

      .image-caption-overlay-center {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
        bottom: 0px;
        background: #3c6a97 0% 0%;
        opacity: 0.73;
        cursor: pointer;

        @media only screen and (min-width: 1366px) {
          width: 348px;
          right: 39px;
          position: absolute;
        }

        p {
          width: 100%;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Avenir-black" !important;
          font-size: 23.99px;
          line-height: 28.79px;
          font-weight: bold;
          margin-bottom: 0px;
          color: #fff;

          a {
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Avenir-black" !important;
            font-size: 23.99px;
            line-height: 28.79px;
            font-weight: bold;
            margin-bottom: 0px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }

  //------ counter section
  .counter-section {
    .counter-center {
      justify-content: center;

      .common-clms {
        @media only screen and (min-width: 768px) and (max-width: 990px) {
          max-width: 27%;
        }

        @media only screen and (min-width: 991px) {
          width: 341px;
          padding: 0;
        }
      }

      .icon-img-section {
        text-align: center;
        margin-bottom: 22px;
      }

      .foot-box {
        background: #393e4b;
        height: 36px;
        padding-top: 8px;
        width: 173px;
        border-radius: 15px;
        margin: 15px auto;

        h3 {
          color: #fff;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.18px;
          font-family: "Avenir-heavy";
          text-align: center;
        }
      }

      .left {
        .counter {
          p {
            position: relative;
            left: -20px;
          }
        }
      }

      .counter-img-count {
        .img-section {
          position: relative;
          text-align: center;
        }

        .middle {
          &:before {
            @media only screen and (min-width: 991px) and (max-width: 1024px) {
              content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091467758_connection-3.png);
              position: absolute;
              right: 212px;
              top: 98px;
            }

            @media only screen and (min-width: 1025px) {
              content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091467758_connection-3.png);
              position: absolute;
              top: 135px;
              left: -23px;
            }
          }

          &:after {
            @media only screen and (min-width: 991px) and (max-width: 1024px) {
              content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091467758_connection-3.png);
              position: absolute;
              right: -23px;
              top: 98px;
            }

            @media only screen and (min-width: 1025px) {
              content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091467758_connection-3.png);
              position: absolute;
              right: -23px;
              top: 135px;
            }
          }
        }

        .counter {
          //position: absolute;
          // top: 216px;
          // left: 102px;

          @media only screen and (min-width: 768px) and (max-width: 990px) {
            top: 155px;
            left: 70px;
          }

          @media only screen and (min-width: 991px) and (max-width: 1024px) {
            top: 176px;
          }

          span {
            color: #fff;
            font-size: 98.78px;
            line-height: 118.54px;
            font-family: "Avenir-heavy";

            @media only screen and (min-width: 768px) and (max-width: 990px) {
              font-size: 53px;
              line-height: 80px;
            }

            @media only screen and (min-width: 991px) and (max-width: 1024px) {
              font-size: 55.78px;
            }
          }

          p {
            color: #fff;
            font-size: 23.64px;
            line-height: 28.37px;
            font-family: "Avenir-heavy";
            margin-top: -13px;
            text-align: center;
            position: relative;

            @media only screen and (min-width: 768px) and (max-width: 990px) {
              font-size: 13.64px;
              margin-top: -25px;
            }

            @media only screen and (min-width: 991px) and (max-width: 1024px) {
              font-size: 16.64px;
              margin-top: -30px;
            }
          }
        }
      }

      .counter-desc {
        max-width: 300px;
        margin: 15px auto;

        p {
          font-family: "Arial-regular";
          color: #666666;
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 0.15px;
          padding-top: 12px;
          text-align: left;

          @media only screen and (min-width: 991px) {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }

  .first-clms {
    .counter {
      left: 170px;
      position: absolute;
      top: 221px;

      @media only screen and (max-width: 350px) {
        top: 210px;
        left: 22%;
      }

      @media only screen and (max-width: 409px) {
        top: 196px;
        left: 38%;
      }

      // @media only screen and (max-width: 499px) and (min-width: 450px) {

      //     top: 229px;
      //     left: 43%;
      // }
      @media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
        left: 210px;
        top: 214px;
      }

      // @media only screen and (min-width:768px) and (max-width:990px) {
      //     left: 73px;
      // }

      @media only screen and (min-width: 991px) and (max-width: 1024px) {
        left: 100px;
      }

      @media only screen and (min-width: 1025px) {
        top: 210px;
        left: 120px;
      }
    }
  }

  .second-clms {
    .counter {
      position: absolute;
      left: 154px;
      top: 224px;

      @media only screen and (max-width: 350px) {
        top: 210px;
        left: 22%;
      }

      @media only screen and (max-width: 409px) {
        top: 196px;
        left: 35%;
      }

      // @media only screen and (max-width: 499px) and (min-width: 450px) {

      //     top: 229px;
      //     left: 41%;
      // }
      @media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
        left: 200px;
        top: 214px;
      }

      // @media only screen and (min-width:768px) and (max-width:990px) {
      //     left: 71px;
      // }

      @media only screen and (min-width: 991px) and (max-width: 1024px) {
        left: 93px;
      }

      @media only screen and (min-width: 1025px) {
        top: 210px;
        left: 110px;
      }

      p {
        @media only screen and (min-width: 768px) {
          left: -20px;
        }
      }
    }
  }

  .three-clms {
    .counter {
      position: absolute;
      left: 145px;
      top: 214px;
      @media only screen and (max-width: 350px) {
        top: 210px;
        left: 22%;
      }

      @media only screen and (max-width: 409px) {
        top: 196px;
        left: 33%;
      }

      // @media only screen and (max-width: 499px) and (min-width: 450px) {

      //     top: 229px;
      //     left: 39%;
      // }

      @media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
        left: 194px;
        top: 214px;
      }

      // @media only screen and (min-width:451px) and (max-width:990px) {
      //     left: 63px;
      // }

      @media only screen and (min-width: 991px) and (max-width: 1024px) {
        left: 83px;
      }

      @media only screen and (min-width: 1025px) {
        top: 210px;
        left: 97px;
      }

      p {
        left: -10px;
      }
    }
  }
}

// /------------ hybrid hmi responsive -----------
.plc-common-section {
  .line-up-column {
    .media {
      @media only screen and (max-width: 767px) {
        display: block !important;
        margin: 0 auto;
        text-align: center;

        .media-body {
          p {
            @media only screen and (max-width: 767px) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}

// /------------ mobile menu header responsive -----------
#header {
  .header-main {
    .navbar {
      .navbar-brand {
        @media only screen and (max-width: 767px) {
          margin-right: 0;
          max-width: 75%;
        }
      }
    }
  }
}

// /------------ mobile menu footer responsive -----------
#footer {
  .footer_container {
    ul {
      li {
        @media only screen and (max-width: 767px) {
          text-align: center;
        }
      }
    }
  }
}

// /-------------- cm1 -----------------

.subcategory-products {
  @media only screen and (min-width: 991px) {
    padding-top: 82.73px !important;
  }
}

#pdtlist_container {
  .pdt_lastrow {
    .button-box {
      .cart-button {
        @media only screen and (max-width: 767px) {
          position: relative;
          left: 18px;
        }
      }
    }
  }
}

.counter-section {
  .counter-center {
    .common-clms {
      .foot-box {
        @media only screen and (max-width: 767px) {
          //margin-right: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 16px auto;
        }
      }
    }

    .first-clms {
      .foot-box {
        @media only screen and (min-width: 1025px) {
          margin-right: 62px;
        }
      }
    }

    .three-clms {
      .foot-box {
        @media only screen and (min-width: 1025px) {
          margin-right: 82px;
        }
      }
    }
  }
}

// -------- cart new design -----------//

.product-details {
  .qty-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      background-color: #ffffff;
      color: #1f2330;
      width: 32px;
      height: 32px;
      padding: 0;
      border-color: #cccccc;
      border-radius: 0;
    }

    .quantity {
      width: 32px;
      height: 32px;
      border: 1px solid #cccccc;
      text-align: center;
      line-height: 32px;
    }
  }

  a.remove {
    font-family: "Avenir Medium";
    font-size: 13px;
    text-decoration: underline;
    color: #1f2330;
  }

  h4.price {
    font-family: "Avenir Medium" !important;
    font-size: 20px !important;
    color: #0050a8 !important;
  }

  .pro-img {
    width: 50px;
  }

  h3 {
    font-size: 25px;
  }
}

.shipping-form-group {
  p {
    color: red;
  }
}

// ipc new

.cimon-pc {
  .content {
    h3 {
      line-height: 29.9px;

      @media only screen and (min-width: 990px) {
        margin-bottom: 33px;
      }
    }

    p {
      // font-family: 'Arial', sans-serif;
      // font-size: 15px;
      // color: #5f3f3f;
      // line-height: 15.6px;
      //     max-width: 488px;

      font-size: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      line-height: 24px;
      color: #797979;
      opacity: 1;
      max-width: 1036px;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
    }
  }
}

.tittle-goes-2 {
  .tittle-goes-wrapper {
    .col-md-6 {
      &:nth-child(3) {
        .content-section {
          margin-top: 50px;
        }
      }

      &:nth-child(5) {
        .img-fluid {
          margin-top: 50px;

          @media only screen and (min-width: 991px) {
            margin-top: 97px;
          }
        }
      }
    }
  }
}

.ipc-pannel-products {
  .col-md-4 {
    &:nth-child(1) {
      order: 3;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }
  }
}

// plc new
.plc-products {
  .content-plc-product {
    ul {
      @media only screen and (max-width: 767px) {
        height: auto !important;
      }
      height: 130.32px !important;

      --lh: auto !important;

      li {
        list-style: square;
        font-family: "Avenir Medium";
        font-size: 17px;
        color: #231f20;
        max-width: 266px;
      }
    }
  }
}

.plc-graph-section {
  @media only screen and (min-width: 991px) {
    padding-top: 18px;
    padding-bottom: 15px;
  }
}

.cicon-container {
  .tittle-head {
    ul {
      li {
        b {
          color: #000;
        }
      }
    }
  }
}

// hmi new

.category-hmi {
  .video-section {
    p {
      padding-bottom: 0px;
    }
  }
}

// about page
#about-us {
  .respected-prowess {
    @media only screen and (min-width: 991px) {
      margin-top: 45px;
      margin-bottom: 50px;
    }
  }

  .counter-section {
    @media only screen and (min-width: 1024px) {
      margin-top: 80px;
    }
  }

  .recognition {
    h2 {
      @media only screen and (min-width: 991px) {
        margin-bottom: 30px;
      }
    }
  }

  .product-ipc {
    .compassion {
      @media only screen and (min-width: 990px) {
        padding-top: 0px;
      }

      .row {
        max-width: 1018px;
        margin: auto;
      }
    }
  }
}

.product-ipc {
  .video-section {
    .col-12 {
      div {
        .scada-button-box {
          padding-top: 0px !important;
        }
      }
    }
  }
  .tittle-goes {
    .container {
      max-width: 1080px !important;
    }
    .tittle-head {
      h2 {
        @media only screen and (min-width: 991px) {
          margin-bottom: 0px;
          padding-bottom: 32px;
        }
      }
      p {
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        line-height: 24px;
        color: #797979;
        opacity: 1;
        max-width: 1080px;
        margin: 0 auto;
        font-family: "Roboto-Regular";
        font-weight: 300;
        @media only screen and (min-width: 991px) {
          max-width: 1050px;
          margin: 0 auto;
        }
      }
    }
  }
}

// hybrid hmi

#product-hybrid {
  .tittle-goes {
    .learn-btn {
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      .cart-button {
        background-color: #ea9103;
        border: 1px solid #ea9103;
        color: #ffffff;
        font-family: "Arial Regular";
        font-weight: 700;
        padding: 7px 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;

        @media only screen and (min-width: 990px) {
          margin-right: 20px;
        }

        &:hover {
          color: #ea9103;
          background-color: #fff;
        }
      }
    }
  }
}

.recommended-products {
  .img-fluid {
    width: 300px;
    height: 300px;
    object-fit: contain;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      height: 200px;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
      height: 144px;
    }

    @media only screen and (max-width: 575px) {
      height: 144px;
      object-fit: cover;
    }
  }
}

/////////////admin side shipping method

.accordion {
  .form-group {
    input.form-control {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    select.form-control {
      width: 100%;
    }
  }
}

#shippingForm {
  .hidden {
    display: none;
  }

  // .show{
  //     display: block;
  // }
}

//-----------checkout Thank you page

.checkout-page-wrapper {
  .order-details {
    padding-bottom: 40px;
    margin: 0 auto;

    h4 {
      margin-bottom: 20px;
      text-align: center;
    }

    .total-box {
      ul {
        @media only screen and (max-width: 767px) {
          padding-left: 0px;
          margin: 0px 25px 0px 25px;
        }

        list-style: none;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
        }
      }
    }

    .products-details {
      ul {
        @media only screen and (max-width: 767px) {
          padding-left: 0;
          text-align: center;
        }

        list-style: none;

        .product-item {
          h5 {
            color: #949191;
            text-transform: uppercase;
            font-size: 18px;
          }

          .title-quality {
            text-align: center;
          }

          .title-price {
            text-align: end;

            @media only screen and(max-width:767px) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

//  -------- profile image upload ------------//
.profile-upload {
  label {
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;

    input {
      border: 1px solid #ded8d8;
      width: 100%;
      border-radius: 4px;
    }

    .pro_img {
      width: 20%;
      margin-top: 20px;
      // display: none;
    }

    .upload_img {
      width: 20%;
      margin-top: 20px;
      // display: none;
    }

    span {
      .fa-camera {
        &:before {
          display: none;
        }
      }
    }
  }

  span {
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
  }
}

.change-pro-img {
  text-align: center;
}

.profile-img-upload {
  text-align: end;

  .profile-img-button {
    font-family: "Avenir Medium", sans-serif !important;
    max-width: 300px;
    font-size: 24px !important;
    font-weight: 600;
    color: #fff !important;
    background: #084d9d !important;
    padding: 13px 20px !important;
    letter-spacing: 1px;
    margin-top: 20px;
    border-radius: 0px;
    float: right;
    border: 1px solid #084d9d;

    &:hover {
      background: #352d3f !important;
      border: 1px solid #352d3f !important;
      color: #fff !important;
    }
  }
}
.contact-form {
  .comment-field {
    label {
      &:after {
        content: none !important;
      }
    }
  }
}

// .........dashboard message
.dashboard-row {
  .dashboard-right-sec {
    #tab_a {
      .sc-fzqARJ {
        div {
          display: none;
        }
      }
    }
    .display-msg {
      text-align: center;
      padding: 30px;
    }
  }
}
#couponForm {
  .row {
    display: flex;
    justify-content: center;
    // @media only screen and (max-width:767px){
    //     display: flex;
    //     justify-content: center;
    // }
    .coupon-field {
      @media only screen and (max-width: 767px) {
        margin-top: 10px;
      }
      @media only screen and (min-width: 1024px) {
        margin-right: 40px;
      }
    }
    .apply_coupon {
      @media only screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }
  }
}

.pdtfull_container.tech-support {
  .pdtbannercontent {
    padding: 0;
  }
}

.ticket-dashboard-wrapper {
  .pdtbannercontent {
    h2 {
      font-size: 75px;
      text-align: center;
    }
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 29.8px;
    color: #0050a8;
    padding-top: 45px;
    font-weight: 500;
  }
  .serach-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    @media only screen and (max-width: 990px) {
      display: block;
    }

    .box {
      @media only screen and (max-width: 990px) {
        margin-bottom: 20px;
      }
      .submit_btn {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        line-height: 24px;
        color: #373d48;
        /* margin-top: 0.25rem; */
        font-weight: 300;
        background: #0050a8;
        border: 1px solid #0050a8;
        color: #ffffff;
        padding: 8px 29px;
        cursor: pointer;
        padding-left: 60px;
        border-radius: 10px;
        background: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/1609869296290_1609869296272-plus.png)
          #0050a8 8% no-repeat;
      }
    }
    .box1 {
      width: 65%;
      margin-bottom: 0px !important;
    }
  }
  .archieve-news-wrapper {
    .tab-wrapper {
      margin-bottom: 30px;
      .tabsec {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        line-height: 24px;
        color: #373d48;
        font-weight: 400;
        padding: 0px 15px 4px 15px;
        cursor: pointer;
        @media only screen and (max-width: 479px) {
          font-size: 11px;
        }
        &.active {
          font-weight: 500;
          border-bottom: 4px solid #0050a8;
        }
      }
    }
    .head_row {
      p {
        flex: 0 0 25%;
        max-width: 25%;
        @media only screen and (max-width: 479px) {
          font-size: 11px !important;
        }
      }
    }
    .body_row {
      p {
        flex: 0 0 25% !important;
        max-width: 25% !important;
        color: #000000 !important;
        font-weight: 400 !important;
        text-transform: capitalize;
        @media only screen and (max-width: 479px) {
          font-size: 11px !important;
        }
        &.blue,
        &.new {
          color: #0050a8 !important;
        }
        &.green,
        &.open {
          color: #15b208 !important;
        }
        &.red,
        &.closed {
          color: red !important;
        }
      }
    }

    .pagination {
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      line-height: 24px;
      color: #373d48;
      display: flex;
      justify-content: center;
      margin-top: 60px;
      margin-bottom: 100px;
    }
  }
}
.gm-svpc {
  display: none;
}
/* distributor locator */

#sip {
  .icon-list-container {
    .icon-list {
      .iconlist_li {
        .iconlist_content_wrap {
          h4 {
            font-family: "Roboto-Regular" !important;
          }
        }
      }
    }
  }
}
#main_cat_tab {
  .tab-learm-btn {
    justify-content: normal !important;
  }
}

.sitemap {
  position: relative;
  a.sitemap_a {
    position: absolute;
    right: 0;
    width: 90px;
    font-size: 0;
    height: 31px;    
  }

  @media only screen and (max-width:691px) {
    margin-bottom: 0px;
    a.sitemap_a {
      position: relative;
    }
  }
}

.col-padding-top {
  padding: 30px;
  h3.widgettitle {
    position: relative !important;
    padding-bottom: 5px;
    margin-bottom: 15px !important;
    letter-spacing: normal;
    text-transform: capitalize;
    color: #000000 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
    margin-top: 0.85em;
  }
  ul {
    list-style: none;
    padding-left: 20px;
    li {
      a {
        padding: 10px 0px;
        color: #000000 !important;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 18.36px;
        display: inline-block;
        font-weight: 300;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.ticket_popup {
  .modal-dialog {
    min-width: 900px;
  }
  .modal-content {
    padding: 30px 50px;
    button.close {
      text-align: right;
      margin-right: 12px;
      color: #bababa;
      font-size: 32px;
      border: none;
      outline: none;
    }
    .modal-body {
      h2 {
        font-family: "Roboto", sans-serif;
        color: #231f20 !important;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 16px;
        font-weight: 400;
      }
      h6 {
        font-family: "Roboto", sans-serif;
        color: #231f20 !important;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
        font-weight: 400;
        margin-bottom: 56px;
        color: #797979;
      }
      .feilds_container {
        .formgroup {
          .error {
            margin-bottom: 10px;
          }
          textarea {
            height: 303px;
          }
          input,
          textarea {
            width: 100%;
            border: 1px solid #dddddd;
            font-family: "Roboto", sans-serif;
            color: #797979 !important;
            font-size: 18px;
            line-height: 24px;
            padding: 7px 12px;
            font-weight: 400;
            margin-bottom: 10px;
            &::placeholder {
              font-family: "Roboto", sans-serif;
              color: #797979 !important;
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
        .button_container {
          text-align: right;
        }
        button.cancel {
          font-family: "Roboto", sans-serif;
          color: #0050a8 !important;
          font-size: 16px;
          line-height: 28px;
          font-weight: 500;
          background: #fff;
          border: 1px solid #0050a8 !important;
          padding: 5px 49px;
          text-transform: capitalize;
          margin-right: 20px;
          &:hover {
            background: #0050a8;
            color: #fff !important;
          }
        }
        button.submit {
          font-family: "Roboto", sans-serif;
          color: #fff !important;
          font-size: 16px;
          line-height: 28px;
          font-weight: 500;
          background: #0050a8;
          border: 1px solid #0050a8 !important;
          padding: 5px 49px;
          text-transform: capitalize;
          &:hover {
            background: #fff;
            color: #0050a8 !important;
          }
        }
      }
    }
  }
}

.confirm-pop-up-last {
  text-align: center;
  h6 {
    color: #797979;
    font-size: 20px !important;
  }
  .button_container {
    text-align: center !important;
  }
}

.ticket-dashboard-wrapper {
  padding-bottom: 30px;
}
#industyheader{
  .container.max_width_1080{
    max-width: 1080px !important;
  }
}


 .ticket-dashboard-wrapper {
   .dashboard_section{
    margin-top: 50px;
    h2{
      text-transform: uppercase;
      margin: 40px 0px;
      margin-bottom: 20px;
    }
     p{
       a{
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        border-radius: 0;
        max-width: 255px;
        min-width: 255px;
        padding: 15px 0 !important;
        height: 47px;
        font-weight: 100;
        font-size: 17px !important;
        line-height: 1;
        border: 1px solid #0050A8 !important;
        display: inline-block;
        text-align: center;
        color: #0050A8 !important;
        &:hover{
          background: #0050A8 !important;
          color: #fff !important;
        }
       }
     }
     h2{
       padding: 0px;
     }
   }
  .ticket_audit_row {
    margin: 30px 0px;
    width: 100%;
    display: flex;
    .bio_comment{
      flex: 0 0 20%;
      max-width: 20%;
      background: #d1d1d1;
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      word-break: break-all;
      text-align: center;
      img.img-fluid {
        border-radius: 50% !important;
        margin-bottom: 25px;
    }
      p{
        margin: 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
      }
    }
    .content_text{
      flex: 0 0 80%;
      margin-left: 20px;
    //  align-items: center;
      max-width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      strong , p{
        font-weight: 500;
      }
      *{
        font-family: "Roboto", sans-serif; font-weight: 300;
      }
    }
}
   .ticket_popup_upper{
      h2 {
        margin-bottom: 25px;
      }
   }
 
 }

 .addpage-form{
  .attribute_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .upperattributes {
      align-items: center;
      justify-content: center;
      text-align: center !important;
      display: flex;
      flex-direction: column;
     }
    .btn-success{
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
 }

 .form-group.userdropdown {
  .form-check {
    display: flex;
    align-items: baseline;
    p{    margin-right: 12px;
    }
  }
 }

 div#singleProduct ,#pdtlist_container {
  .product_banner{
    background-image: linear-gradient(rgba(82, 75, 90, 0.9), rgba(82, 75, 90, 0.9)), url(https://cimon-rt.s3.amazonaws.com/profile_cimon/1612211859194-Man_controling_CIMON_Xpanel_on_machine%402x.png) !important;
  }
 }
    

 div#internationaldistributemain {
  div#googlemapcontainer {
    div {
     
      > a {
        color: #fff;
        &:hover{
          color: #0050a8 !important;
        }
      }
    }
  }
 }


 div#dynamicpage {
 
   .dynamicpagecontent{
    padding: 50px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    > .container {
      max-width: 1068px;
     h1, h2,h3,h4,h5,h6{
      font-family: "Roboto", sans-serif;
     }
     p{
       padding: 5px 0px;
     }
      p ,a{
        font-family: "Roboto", sans-serif;
        font-weight: 300;
      }
    }
   }
   
 }

 .xpanel-designer {
  .col-lg-5.r-section p {
    max-width: 310px;
    margin: 0px auto;
  }
 }

 .certificate-container {
  padding: 65px 15px;
  .certificatehead{
    h2{
      color: #0050a8;
      text-transform: uppercase;
      margin: 0px;
      margin-bottom: 23px;
      letter-spacing: 0px;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-size: 36px;
      @media only screen and (min-width: 1400px) {
        font-size: 54px;
        line-height: 64.8px;
      }
    }
    p{
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      line-height: 24px;
      color: #797979;
      opacity: 1;
      max-width: 1036px;
      margin: 0 auto;
      font-weight: 300;
      font-family: "Roboto-Regular";
    }
  }
  .certification_accordian {
    padding: 60px 0px;
    padding-bottom: 30px;
    .accordion{
      .card {
        border: none;
        //border-bottom: 1px solid #707070!important;
        .collapse.show{
          border-bottom: solid 1px #707070 !important;
        }
        .card-header{
          border-bottom: solid 1px #707070 !important;
          display: flex;
          font-size: 20px;
          font-family: "Roboto-Regular";
          line-height: 24px;
          background: #fff;
          margin-bottom: 0;
          position: relative;
          color: #797979;
          &.active{
            border-bottom: none !important;
            border-top: solid 1px #707070 !important;
            &::before {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
            &::before {
              background: #fff url(https://cimon-rt.s3.amazonaws.com/profile_cimon/1610707316688_1610707316681-li-icon.png) no-repeat !important;
              width: 10px;
              height: 10px;
              position: absolute;
              content: "";
              top: 27px;
              left: 6px;
            }

              .btn{
                    display: block;
                    color: #797979;
                    font-size: 20px;
                    font-family: "Roboto-Regular";
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    width: 100%;
                    outline: none;
                    text-align: left;
                    text-decoration: none !important;
                    box-shadow:none !important;
                    &:focus{
                      outline: none !important;
                    }
              }
        }

        .collapse {
          .card-body {
            @media only screen and (max-width: 991px) {
            overflow-x: scroll !important;
            }
           > p ,  >  a {
              font-size: 20px;
              font-family: "Roboto-Regular";
              line-height: 24px;
              color: #0050a8 !important;
              float: right;
              margin-bottom: 23px;
              
          }
            table, th, td {
              border: 1px solid #dddddd !important;
              border-collapse: collapse;
              font-size: 16px;
              padding:10px;
          }
       //     background: #d1d1d1;  
            font-size: 20px;
            font-family: "Roboto-Regular";
            line-height: 24px;
            color: #797979;
            padding: 20px 30px;

            tbody{
                tr:nth-child(odd){
                  font-family: "Roboto", sans-serif;
                  font-weight: 700;
                }
                tr:nth-child(even){
                  font-family: "Roboto", sans-serif;
                  font-weight: 300;
                }
                tr[rowspan]{
                  font-weight: 700 !important;
                }
            }
        }
        }
      }
    }
   
}
}


.new_search {
  .rdt_TableBody {
    .rdt_TableCell {
      div{
        white-space: break-spaces !important;
      }
    }
  }
}

.listliveclass {
    /* max-width: 800px; */
    padding: 30px 14px;
    background: #fff;
    border-top: 4px solid #d1d1d1;
    h3 {
      font-size: 24px;
      margin-bottom: 25px;
    }
    button.btn.btn-info {
      background-color: #084d9d;
      font-size: 16px;
      font-family: "Avenir Heavy" !important;
      padding: 12px 31px;
      border: none;
      font-weight: 600;
      letter-spacing: 2px;
      border-radius: 0;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      margin-top: 20px;
  }
}


.traning_addnew {
  list-style: none;
  position: relative;
  .smooth-dnd-container.vertical {
    > div {
      margin:30px 14px;
      position: relative;
      .form-control{
        font-family: "Avenir Medium";
        font-size: 14px;
        color: #7D8AA5;
      }
      .month_list{
        margin: 10px 0px;
        font-family: "Avenir Medium";
        font-size: 14px;
        color: #7D8AA5;
        font-weight: "normal";
        line-height: 17px;
        letter-spacing: .28px;
      }
  }
  }
}

.anchor_view{
  background-color: #084d9d;
    font-size: 16px;
    font-family: "Avenir Heavy" !important;
    padding: 13px 13px;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    border: 1px solid #084d9d;
    &:hover{
      opacity: 1 !important;
      background: #352d3f !important;
      color: #fff !important;
      transition: all 0.3s ease-in-out;
    }
}

div#right-panel{
  div#map_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    .block-ui.google_div {
      width: 100%;
    }
  }
}

.capability_remove{
    background: no-repeat;
    border: none;
    float: right;
    color: red;
    margin-top: -10px;
    &:hover{
      background: transparent !important;
      color: red !important;
    }
}

.admin-body.download{
  .subsection,.section9 ,.section10 {
    display: none !important;
  }
  .section11{
    div#cke_editor13{
      display: none !important;
    }
  }
}

.thumbanail_container{
  position: relative;
   .close_btn {
    position: absolute;
    right: 9px;
    top: 9px;
    z-index: 99999999999;
    cursor: pointer;
}
}

.handleSubmit_slider {
  button{
    background: #0050A8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2c28281c;
    border-radius: 5px;
    font-family: "Avenir Book";
    font-size: 13px;
    color: #FFFFFF;
    font-weight: "normal";
    line-height: 16px;
    border: 1px solid #0050A8;
    margin-top: 25px !important;
    padding: 10px 25px;
    &:hover{
      opacity: 0.5;
    }
  }
}

.slider_options{
 
   > div {
    width: 125px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
        label {
        margin-bottom: 0;
        margin-left: 8px;
        }
   }
}

.cropscreen {
  width: 900px;
  position: fixed;
  top: 70px;
  left: 50%;
  margin-left: -450px;
  background: #fff;
  padding: 10px;
  border: 1px solid #172030;
  z-index: 99999;
  text-align: center;

  label{
    float:left;
    width:200px !important;
    text-align: left;
  }
  button.btn.btn-info {
    float: right;
  }  

  .cropheader { 
    background: #fff;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
}

  .ReactCrop__image { 
    max-height: 430px;
}
  .ReactCrop {
    margin-top: 50px;
  }
}
