@import "../fonts/stylesheet.css";
@mixin set-font($family: "Comfortaa-bold",
    $size: 12px,
    $color: "",
    $weight: "normal"

) {
    font-family: $family;
    font-size: $size;

    @if $color !="" {
        color: $color;
    }

    font-weight: $weight;
}

.home-inner-content {
    background-color: #F6F6F6;

    .home-box-left {
        .single-box-wrap {
            @media only screen and (max-width: 991px) {
                margin-bottom: 20px;
            }

            &:first-child {
                .single-box-inner {
                    background-image: linear-gradient(to bottom, #4481EB, #04BEFE);
                    border: none;
                }
            }

            &:nth-child(2) {
                .single-box-inner {
                    background-image: linear-gradient(to bottom, #1E3C72, #2A5298);
                    border: none;
                }
            }

            &:nth-child(3) {
                .single-box-inner {
                    background-image: linear-gradient(to bottom, #F9239C, #FF4E50);
                    border: none;
                }
            }

            &:nth-child(4) {
                .single-box-inner {
                    background-image: linear-gradient(to bottom, #B224EF, #7579FF);
                    border: none;
                }
            }

            .card-body {
                padding: 60px 20px;

                @media only screen and (min-width: 768px) and(max-width:1366px) {
                    padding: 60px 10px;
                }

                .img-wrap {
                    min-height: 65px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                }

                .box-name {
                    font-family: 'Avenir Heavy';
                    letter-spacing: .32px;
                }

                .tot-count {
                    font-size: 38px;
                    line-height: 51px;
                    font-family: 'Avenir Heavy';
                }

                .count-rate {
                    font-family: 'Avenir Roman';
                    line-height: 21px;
                    font-size: 15px;
                }
            }
        }
    }

    .home-box-right {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        .invoice-wrap {
            box-shadow: 0px 0px 5px #00000017;
            margin-bottom: 30px;
            display: none;
            .invoice-head {
                background-color: #F9F9F9;
                padding: 16px 40px;

                div {
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: .36px;
                    font-family: 'Avenir Medium';

                    @media only screen and (max-width: 1199px) {
                        text-align: center;
                    }
                }
            }

            .invoice-content {
                padding: 20px 40px;

                .row {
                    .single {
                        &:first-child {
                            border-right: 0.20000000298023224px solid #707070;

                            @media only screen and (max-width: 767px) {

                                padding-bottom: 20px;
                            }

                            @media only screen and (max-width: 575px) {
                                border: none;
                            }
                        }

                        .due-name {
                            line-height: 18px;
                            padding-bottom: 9px;
                            font-family: 'Montserrat Medium';
                            @include set-font("Montserrat Medium", 14px, #707070);
                        }

                        .due-rate {
                            line-height: 24px;
                            @include set-font("Montserrat Medium", 20px, #707070);
                        }
                    }
                }
            }
        }

        .monthly-revenue-wrap {
            background: transparent linear-gradient(180deg, #B224EF 0%, #7579FF 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 5px #00000017;

            .revenue-head {
                background: #A561FE 0% 0% no-repeat padding-box;
                padding: 19px 40px;

                div {
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: .32px;
                    font-family: 'Montserrat Medium';

                    @media only screen and (max-width: 1199px) {
                        text-align: center;
                    }
                }
            }

            .revenue-content {
                padding: 19px 40px;

                @media only screen and (max-width: 1199px) {
                    text-align: center;
                }

                .row {
                    .single {
                        &:first-child {
                            @media only screen and (max-width: 767px) {
                                padding-bottom: 20px;
                            }
                        }

                        .rev-name {
                            font-size: 14px;
                            letter-spacing: .28px;
                            line-height: 18px;
                            padding-bottom: 9px;
                            font-family: 'Montserrat Medium';

                        }

                        .rev-rate {
                            font-size: 24px;
                            letter-spacing: .48px;
                            line-height: 29px;
                            font-family: 'Montserrat Medium';
                        }
                    }
                }
            }
        }

    }
}

a.product_div {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        flex: 0 0 30%;
        max-width: 30%;
    }

    p {
        margin: 0px;
    }
}

.order_status {
    font-style: normal;

    &.Pending,
    &.pending {
        &:before {
            // content: '';
            // width: 10px;
            // height: 10px;
            // background:#FEB969;
            // display: inline-block;
            // border-radius: 50%;
            // margin-right: 5px;
            // font-style: normal;
        }
    }

    &.Done,
    &.done,
    &.completed,
    &.Completed {
        &:before {
            // content: '';
            // width: 10px;
            // height: 10px;
            // background:#2DCE98;
            // display: inline-block;
            // border-radius: 50%;
            // margin-right: 5px;
            // font-style: normal;
        }
    }

    &.Cancelled,
    &.cancelled {
        &:before {
            // content: '';
            // width: 10px;
            // height: 10px;
            // background:#F53C56;
            // display: inline-block;
            // border-radius: 50%;
            // margin-right: 5px;
            // font-style: normal;
        }
    }




}


.sidebar {
    .leftbar {
        .menu {
            ul {
                li {

                    &.navigation--active {
                        background: #29354b;

                        &:before {
                            background: #0050A8 !important;
                        }
                    }

                    &.orders.navigation--active {
                        &:before {
                            content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091597532_orders_hover.png);
                        }
                    }

                    &.products.navigation--active {
                        &:before {
                            content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091616328_products_hover.png);
                        }
                    }

                    &.pages.navigation--active {
                        &:before {
                            content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091639243_cms_hover.png);
                        }
                    }

                    &.dashboard.navigation--active {
                        &:before {
                            content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091659288_dashboradicon_hover.png) !important;
                        }
                    }

                    &.dashboard {
                        &:hover {
                            &:before {
                                content: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091681667_dashboradicon_hover.png) !important;
                            }
                        }
                    }



                }
            }
        }
    }
}

.video_uploadclass {
    margin-bottom: 25px;
    margin-top: 10px;
}

.backgroundoverlay {
    .overlay {
        position: absolute;
        z-index: 999;
        background: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.useradd-new {
    .overlay {
        position: absolute;
        z-index: 999;
        background: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        label {
            font-family: "Avenir Medium";
            font-size: 16px;
            color: #000000;
            font-weight: "normal";
            line-height: 22px;
            letter-spacing: .36px;
            width: 100%;
        }

        input.form-control,
        textarea {
            width: 50%;
            border: 1px solid #C2D1D8;
            border-radius: 5px;
            font-family: "Avenir Medium";
            font-size: 14px;
            color: #7D8AA5;
            font-weight: "normal";
            line-height: 17px;
            letter-spacing: .28px;
        }
      
        select {
            width: 50%;
            border: 1px solid #C2D1D8;
            border-radius: 5px;
            font-family: "Avenir Medium";
            font-size: 14px;
            color: #7D8AA5;
            font-weight: "normal";
            line-height: 17px;
            letter-spacing: .28px;
            height: calc(1.5em + .75rem + 2px);
            padding: 5px 10px;
        }

       
    }

    .profile_up {
        position: relative;
        max-width: 182px;
        border: 1px solid #0050a8;
        cursor: pointer;

        label {
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                min-height: 85px;
                max-height: 190px;
            }
        }

        input#image {
            display: none;
        }

        .upload-img-label {
            display: none;
        }

        &:hover {
            .upload-img-label {
                display: block;
                position: absolute;
                font-family: "Comfortaa-regular";
                font-weight: 700;
                color: #fff;
                font-size: 14px;
                background: #0050a8;
                opacity: .7;
                width: 50px;
                height: 50px;
                text-align: center;
                left: 0;
                bottom: 0;
                max-width: 160px;
                padding: 2px;
                border-top-right-radius: 80%;
                display: flex;
                align-items: center;
                justify-content: center;

                .fa {
                    margin-top: 10px;
                    font-size: 20px;
                }
            }
        }
    }

    .submit {
        margin-top: 15px;

        button,
        a {
            background: #0050A8 0% 0% no-repeat padding-box !important;
            box-shadow: 0px 3px 6px #2C28281C;
            border-radius: 5px;
            font-family: "Avenir Book" !important;
            font-size: 16px !important;
            color: #FFFFFF;
            font-weight: "normal";
            line-height: 16px;
            padding: 11px 30px !important;
            min-width: 130px !important;
            height: 48px !important;
            border-radius: 3px !important;
            border: 1px solid #0050A8 !important;

            &:hover {
                background: #fff !important;
                color: #0050A8 !important;
            }
        }
    }
}

.categories-add {
    .success {
        color: green;
        font-family: "Avenir Medium";
        font-size: 14px;
    }

    .danger,
    .error {

        color: red !important;
        font-family: "Avenir Medium";
        font-size: 12px;
    }

    .form-group {

        label {
            font-size: 14px !important;
        }

        .form-control {
            width: 100% !important;

            select {
                width: 100% !important;
                border: 1px solid #C2D1D8;
                border-radius: 5px;
                font-family: "Avenir Medium";
                font-size: 14px;
                color: #7D8AA5;
                font-weight: "normal";
                line-height: 17px;
                outline: none;
                letter-spacing: .28px;

            }
        }
    }
}

.tableinformation {
    margin: 0px;
    padding: 10px 0px;
    text-transform: capitalize;

    p {
        font-family: "Avenir Medium" !important;
        font-size: 14px !important;
        text-align: center;
        color: green!important;
        margin: 0px;
    }

    .error {
        P {
            color: red !important;
            font-family: "Avenir Medium";
            font-size: 12px;
        }
    }
}

.thumbanail_container {
    .profile_up {
        label {
            width: 100%;
            margin: 0px;
            text-align: center;
            cursor: pointer;
            border: 2px solid #193b68;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 0.8;
            }

            .profile_img {
                display: none;
            }
            img {
                /* object-fit: contain; */
                /* display: inline-flex; */
                max-height: 190px;
                min-height: 85px;
            }
        }

        .upload-img-label {
            display: none;
        }
    }
}

.product-attribute-tab {
    padding: 20px 0px;

    .tab-content {
        padding-right: 15px;
    }

    .nav-pills {
        border: 1px solid #0050a8;

        li {
            width: 100%;
            padding: 0px 0px;
            border-bottom: 1px solid #0050a8;

            &:last-child {
                border-bottom: none;
            }

            a {
                font-family: "Avenir Medium" !important;
                font-size: 14px;
                color: #000;
                text-decoration: none;
                width: 100%;
                display: inline-block;
                padding: 10px;

                &:hover {
                    background: #0050A8;
                    color: #fff;
                }
            }

            &.active {
                background: #0050A8;

                a {
                    color: #fff;
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            .form-group-product {
                .checkbox_btn {}

                label {
                    font-family: "Avenir Medium";
                    font-size: 15px;
                    color: #000000;
                    font-weight: "normal";
                    line-height: 22px;
                    letter-spacing: .36px;
                }

                .form-control {
                    border: 1px solid #C2D1D8;
                    border-radius: 5px;
                    font-family: "Avenir Medium";
                    font-size: 14px;
                    color: #7D8AA5;
                    font-weight: "normal";
                    line-height: 17px;
                    letter-spacing: .28px;
                }

                select {
                    border: 1px solid #C2D1D8;
                    border-radius: 5px;
                    font-family: "Avenir Medium";
                    font-size: 14px;
                    color: #7D8AA5;
                    font-weight: "normal";
                    line-height: 17px;
                    letter-spacing: .28px;
                    /* height: calc(1.5em + .75rem + 2px); */
                    padding: 5px 10px;
                }
            }
        }
    }



}

.category_label {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    max-height: 250px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-button {
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: #0050A8;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    h3 {
        font-family: "Avenir Medium";
        font-size: 18px;
        color: #000000;
        font-weight: "normal";
        line-height: 22px;
        letter-spacing: .36px;
        border-bottom: 1px solid #000;
        padding-bottom: 5px;
    }

    .checkboxloop {
        // margin-left: 20px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 13px;

        a {
            margin-left: 5px;
            font-size: 10px;
            color: #0050a8;
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }

        &.parent_0 {
            margin-left: 0;
        }
    }

    .parent_level2 {
        padding-left: 15px;
    }

    .parent_level3 {
        padding-left: 30px;
    }

}

.dropdown-container {
    border: 1px solid #C2D1D8;
    border-radius: 5px;
    font-family: "Avenir Medium";
    font-size: 14px;
    color: #7D8AA5;
    font-weight: "normal";
    line-height: 17px;
    letter-spacing: .28px;

    .dropdown-content {
        .select-panel {
            .select-item {
                margin-bottom: 0px;

                padding: 5px;

                .item-renderer {
                    font-size: 12px;
                }

            }

            ul {
                li {
                    label {
                        padding: 5px;

                        .item-renderer {
                            font-size: 12px;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

.attribute_container {
    display: inline-block;
    width: 100%;

    h5 {}

    .btn-success {
        font-family: "Avenir Medium" !important;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        float: right;
        display: inline-block;
        padding: 5px 10px;
        background: #0056b3;
        outline: none;
        border: none;

        &:hover {
            opacity: 0.8;
        }
    }

    .attributes {
        margin-top: 50px;
        display: inline-block;
        width: 100%;




        .attributes_sub {
            width: 100%;

            .sub_loop {
                .sub_loop_12 {
                    .btn-danger {
                        position: absolute;
                        right: 16px;
                        top: 0;
                        background: transparent !important;
                        color: red !important;
                        border: none;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 3px;

                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }
            }

        }
    }
}

.attributes {
    .main_loop_sub {
        position: relative;

        .btn-danger {
            position: absolute;
            right: 0px;
            top: 0;
            background: transparent !important;
            color: red !important;
            border: none;
            outline: none;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                border: none;
                outline: none;
            }
        }

    }
}

.rdt_TableRow {
    p.catogery_sec_loop {
        padding-left: 15px;
    }

    .parent_id_level1 {
        padding-left: 0px !important;
    }

    .parent_id_level2 {
        padding-left: 15px;
    }

    .parent_id_level3 {
        padding-left: 30px !important;
    }
}

.manage-menus {
    ul {
        list-style: none;
        // padding: 0;
    }

    .menuitems {

        padding: 5px;
        margin-bottom: 5px !important;

        input.form-control {
            margin-bottom: 5px !important;

        }
    }
}

.danger {
    color: red;
}

.menu_container {
    padding: 30px;

    .create_menu_container {
        display: flex;

        button {
            font-family: "Avenir Medium" !important;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            float: right;
            display: inline-block;
            padding: 5px 10px;
            margin: 0px 10px;
            background: #0056b3;
            outline: none;
            border: none;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.btn_save_option_menu {
    font-family: "Avenir Medium" !important;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    float: left;
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 10px;
    background: #0056b3;
    outline: none;
    border: none;

    &:hover {
        opacity: 0.8;
    }
}

.btn_save_option_menu_danger {
    font-family: "Avenir Medium" !important;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    float: left;
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 10px;
    background: red;
    outline: none;
    border: none;

    &:hover {
        opacity: 0.8;
    }
}

.smooth-dnd-draggable-wrapper {

    li,
    ul {

        position: relative;
    }

    .btn-success {
        margin-bottom: 15px;
    }

    ul {
        margin-top: 10px;

        .col-md-12 {
            padding-right: 0px;
            padding-left: 0px;
        }

        li {
            .accordion {
                .card-header {
                    padding: 0px;

                    button {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }

    >li {
        padding-left: 35px;
    }

    span.column-drag-handle {
        position: absolute;
        z-index: 555;
        left: 0;
        cursor: all-scroll;
    }
}

.attributes {
    .attribute_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    ul {
        li {
            .accordion {
                .card-header {
                    padding: 0px;

                    button {
                        width: 100%;
                        text-align: left;
                        text-decoration: none;
                        font-family: 'Avenir Heavy';

                        color: #0050A8;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .child_croosbtn {
        font-size: 9px;
        width: 18px;
        height: 18px;
        padding: 0;
    }
}

.stripesettings {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 100px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.order_list {
    .product_list {
        .single_order.body {
            width: 100%;
            margin: 0 15px;
            border: 1px solid #d1d1d1;

            >div {
                padding: 15px;
                font-family: "Avenir Book";
                font-size: 14px;
            }

            display: flex;
            align-items: center;

            p {
                font-family: "Avenir Book";
                font-size: 14px;

                img {
                    max-width: 100px;
                    margin-right: 10px;
                }
            }
        }

        .single_order.head {
            width: 100%;
            margin: 0 15px;
            padding: 7px 15px;
            background: #f8f8f8;
            border-top: 1px solid #d1d1d1;
            border-left: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1;

            >div {}
        }

    }

}

.single_order.shipping {
    width: 100%;
    margin: 0 0px;
    padding: 7px 15px;
    background: #f8f8f8;
    border: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    display: flex;
    align-items: center;

    .rownew {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 7px 0px;

        .col-md-2 {
            .form-control {
                height: 30px;
                border-radius: 5px;
                font-family: 'Avenir Book' !important;
                font-size: 13px;
                line-height: 16px;
                margin: 0.5rem 0;
            }
        }
    }

    p {
        margin: 0px;
        font-family: "Avenir Book";
        font-size: 14px;
    }
}

.order_email {
    white-space: break-spaces !important;
}

.common_action_section {
    select {
        border: 1px solid #C2D1D8;
        border-radius: 5px;
        font-family: "Avenir Medium";
        font-size: 14px;
        color: #7D8AA5;
        font-weight: "normal";
        line-height: 17px;
        letter-spacing: .28px;
        margin-right: 10px;
        min-width: 120px;
    }

    .danger {
        border: none;
        background: #007bff;
        color: #fff !important;
        padding: 1px 30px;
        font-size: 12px;
        border: none !important;

        &:hover {
            opacity: 0.8;
        }
    }
}

.product-summary-tab-wrapper,
.faq-list-table-wrapper {
    ul.nav {
        li {
            flex: 0 0 15%;
            max-width: 15%;
            background-color: #F1F1F1;
            text-align: center;

            a {
                font-family: "Avenir Medium";
                font-size: 15px;
                color: #000000;
                font-weight: "normal";
                letter-spacing: .3px;
                line-height: 18px;
                padding: 17px;
                text-decoration: none;
                display: block;
            }

            &.active {
                background-color: #FBFBFB;
            }


        }
    }
}

.note_content_tab {
    .note_content {
        padding: 10px;
        background: #efefef;
        position: relative;
        display: flex;
        align-items: center;
        font-family: "Avenir Medium";
        font-size: 14px;

        p {
            font-family: "Avenir Medium";
            font-size: 14px;
            color: #888888;
            font-weight: "normal";
            letter-spacing: .28px;
            line-height: 26px;
            word-break: break-all;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            left: 20px;
            width: 0;
            height: 0;
            border-width: 10px 10px 0 0;
            border-style: solid;
            border-color: #efefef transparent;
        }
    }
    p {
        font-family: "Avenir Medium";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .28px;
        line-height: 26px;
        word-break: break-all;
    }

}

.coupon-add {
    .form-group {
        select {
            width: 100%;

            &::-webkit-input-placeholder {
                /* Edge */
                font-family: "Avenir Medium";
                font-size: 14px;
                color: #7D8AA5;
                font-weight: "normal";
                line-height: 17px;
                letter-spacing: .28px;
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-family: "Avenir Medium";
                font-size: 14px;
                color: #7D8AA5;
                font-weight: "normal";
                line-height: 17px;
                letter-spacing: .28px;
            }

            &::placeholder {

                font-family: "Avenir Medium";
                font-size: 14px;
                color: #7D8AA5;
                font-weight: "normal";
                line-height: 17px;
                letter-spacing: .28px;
            }
        }

        .multi-select * {
            font-family: "Avenir Medium";
            font-size: 14px;
            color: #7D8AA5;
            font-weight: "normal";
            line-height: 17px;
            letter-spacing: .28px;
        }

        input {
            &::-webkit-input-placeholder {
                /* Edge */
                font-family: "Avenir Medium";
                font-size: 14px;
                color: #7D8AA5;
                font-weight: "normal";
                line-height: 17px;
                letter-spacing: .28px;
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-family: "Avenir Medium";
                font-size: 14px;
                color: #7D8AA5;
                font-weight: "normal";
                line-height: 17px;
                letter-spacing: .28px;
            }

            &::placeholder {

                font-family: "Avenir Medium";
                font-size: 14px;
                color: #7D8AA5;
                font-weight: "normal";
                line-height: 17px;
                letter-spacing: .28px;
            }
        }

        .react-datepicker-wrapper {
            width: 100% !important;

            .react-datepicker__input-container {
                input , select{
                    width: 100%;
                    border: 1px solid #C2D1D8;
                    border-radius: 5px;
                    font-family: "Avenir Medium";
                    font-size: 14px;
                    color: #7D8AA5;
                    font-weight: "normal";
                    line-height: 17px;
                    letter-spacing: .28px;
                    height: calc(1.5em + 0.75rem + 2px);
                    padding: 0.375rem 0.75rem;

                    &::-webkit-input-placeholder {
                        /* Edge */
                        font-family: "Avenir Medium";
                        font-size: 14px;
                        color: #7D8AA5;
                        font-weight: "normal";
                        line-height: 17px;
                        letter-spacing: .28px;
                    }

                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        font-family: "Avenir Medium";
                        font-size: 14px;
                        color: #7D8AA5;
                        font-weight: "normal";
                        line-height: 17px;
                        letter-spacing: .28px;
                    }

                    &::placeholder {

                        font-family: "Avenir Medium";
                        font-size: 14px;
                        color: #7D8AA5;
                        font-weight: "normal";
                        line-height: 17px;
                        letter-spacing: .28px;
                    }
                }
            }
        }

    }
}

div#tab_h {
    .form-group-product {
        margin-bottom: 15px;
    }
}

.order-details-btns.form-inline.form.float-right {
    margin-top: -18px;
    margin-right: 28px;
}


.refunde_conatiner {
    width: 100%;
    margin: 30px 0px;
    padding: 7px 15px;

    display: flex;
    align-items: center;

    &.bgm_refund {
        background: #f8f8f8;
        border: 1px solid #d1d1d1;
        border-left: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
    }

    .refund_btn {
        background: #0050A8 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #2C28281C;
        border-radius: 5px;
        font-family: "Avenir Book";
        font-size: 13px;
        color: #FFFFFF;
        font-weight: "normal";
        line-height: 16px;
        border: 1px solid #0050A8;
        padding: 8px 15px !important;

        &:hover {
            background: #fff 0% 0% no-repeat padding-box;
            color: #0050A8;

        }
    }

    .refund_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .order_single_items {
            flex: 0 0 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            p {
                margin: 10px 0px;

                &:last-child {
                    width: 200px;
                    padding-left: 20px;
                }

                input {
                    width: 100%;
                    display: inline-block;
                    flex: 0 0 100%;
                }
            }

            .validate_error {
                p {
                    padding-left: 0;
                    max-width: 180px;
                }
            }
        }
    }

    .order_single_button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px;
    }
}


.order-details-btns.form-inline.form.float-right {
    margin-top: -18px;
    margin-right: 28px;
}

.refund_loop_conatiner {
    padding: 7px 30px;
    background: #f8f8f8;
    border: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .refund_loop {
        padding: 5px 0px;

        p {
            margin: 0px;
            font-family: "Avenir Book";
            font-size: 14px;
        }
    }

}

.refunde_conatiner {
    width: 100%;
    margin: 30px 0px;
    padding: 7px 15px;



    display: flex;
    align-items: center;

    .refund_btn {
        background: #0050A8 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #2C28281C;
        border-radius: 5px;
        font-family: "Avenir Book";
        font-size: 13px;
        color: #FFFFFF;
        font-weight: "normal";
        line-height: 16px;
        border: 1px solid #0050A8;
        padding: 8px 15px !important;
        outline: none;
    }

    .refund_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .order_single_items {
            flex: 0 0 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            p {
                margin: 10px 0px;
                font-family: "Avenir Book";
                font-size: 14px;

                &:last-child {
                    width: 200px;
                    padding-left: 20px;
                }

                input {
                    width: 100%;
                    display: inline-block;
                    flex: 0 0 100%;
                    font-family: "Avenir Book";
                    font-size: 14px;
                }
            }

            .validate_error {
                p {
                    padding-left: 0;
                    max-width: 180px;
                }
            }
        }
    }

    .order_single_button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px;
    }
}

.order-summary-tab-wrapper {
    padding-bottom: 50px;

    .details-wrap-div {

        .title-div {
            margin-top: 10px;
            @include set-font("Avenir Medium", 14px, #000000);
            line-height: 20px;
        }

        .detail-content-div {
            margin-top: 10px;
            font-family: 'Avenir Book' !important;
            font-size: 13px;
            line-height: 16px;
            font-weight: 400;

            select {
                padding: 0 7px;
                border: none;
                text-align: left;
                -moz-appearance: none;
                -webkit-appearance: none;
                margin-top: -6px;
                @include set-font("Avenir Book", 13px, #000000);
                line-height: 16px;
                font-weight: 400;
            }

            input {
                @include set-font("Avenir Book", 13px, #000000);
                line-height: 16px;
                font-weight: 400;
            }
        }
    }
}

.generaltaxoption {
    .home-box-left {
        .row {
            padding: 0px 10px;

            .onebyseven {
                flex: 0 0 14.28%;

                align-items: center;
                justify-content: flex-start;
                padding: 8px;
                display: flex;

                &:last-child {
                    justify-content: center;
                }

                .form-control {
                    width: 50%;
                    border: 1px solid #C2D1D8;
                    border-radius: 5px;
                    font-family: "Avenir Medium";
                    font-size: 14px;
                    color: #7D8AA5;
                    font-weight: "normal";
                    line-height: 17px;
                    letter-spacing: .28px;
                    width: 100%;
                    padding: 10px;

                    &.check_box {
                        width: 20px;
                        height: 20px;
                    }
                }

                p {
                    margin: 0px;
                }
            }
        }
    }
}

.sidebar {


    .menu {
        ul {


            .list-item {



                &.side_bar_news {
                    &::before {
                        content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091708386_news.png");
                    }
                }

                &.side_bar_news {
                    &:hover {
                        &::before {
                            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091727629_news_hover.png");
                        }
                    }
                }

                &.side_bar_careeer {
                    &:hover {
                        &::before {
                            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091752308_careers_hover.png");
                        }
                    }
                }

                &.side_bar_store {
                    &:hover {
                        &::before {
                            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091774206_store-locator_hover.png");
                        }
                    }
                }

                &.side_bar_coupon {
                    &:hover {
                        &::before {
                            content: url("https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091800734_coupon_hover.png");
                        }
                    }
                }

            }


        }
    }

}


.adminreport {
    .adminreport_inner {
        .tab-content {
            padding: 50px;

            .tab-pane {
                .common_row {
                    padding: 20px;

                    .home-box-left {
                        padding-left: 0px;
                    }

                    .chart-sidebar {
                        .chart-legend {
                            padding: 0px;
                            list-style: none;

                            list-style: none outside;
                            margin: 0 0 1em;
                            padding: 0;
                            border: 1px solid #dfdfdf;
                            border-right-width: 0;
                            border-bottom-width: 0;
                            background: #fff;


                            li {
                                border-right: 5px solid #aaa;
                                color: #aaa;
                                padding: 1em;
                                display: block;
                                margin: 0;
                                -webkit-transition: all ease .5s;
                                transition: all ease .5s;
                                box-shadow: inset 0 -1px 0 0 #dfdfdf;
                                line-height: 1.4;
                                font-size: 13px;

                                &:hover {
                                    box-shadow: inset 0 -1px 0 0 #dfdfdf, inset 300px 0 0 rgba(156, 93, 144, .1);
                                    border-right: 5px solid #0072ff !important;
                                    padding-left: 1.5em;

                                }

                                strong {
                                    font-size: 1.618em;
                                    line-height: 1.2em;
                                    color: #464646;
                                    font-weight: 400;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        ul.nav-pills.nav-fill {
            li {
                a {
                    float: left;
                    border: 1px solid #ccc;
                    border-bottom: none;
                    margin-left: .5em;
                    padding: 5px 10px;
                    font-size: 14px;
                    line-height: 1.71428571;
                    font-weight: 600;
                    background: #e5e5e5;
                    color: #555;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }
        }
    }
}

.banner-section {
    padding: 25px 0px;

    .banner-single {
        background: #f2f2f2;
        border: 1px solid #d1d1d1;
        margin: 10px 0px;
        padding: 10px;
        position: relative;
        .form-control {
            margin-bottom: 10px;
        }

        .video_uploadclass {
            position: relative;

            img {
                margin-right: 25px;
            }

            .spinner-border {
                color: #0077ff !important;
                left: 0;
                position: absolute;
                top: 38%;
                left: 63px;
            }
        }

        .btn.btn-danger {
            background: no-repeat;
            border: none;
            float: right;
            color: red;  margin-top: 0px;
            position: absolute;
    right: 0;
    z-index: 9999999;
        }

        .accordion {
            .card-header {
                padding: 0;

                .btn {
                    width: 100%;
                    text-align: left;
                    text-decoration: none;
                    font-family: 'Avenir Heavy';
                    color: #0050A8;
                    outline: none;
                    text-transform: capitalize;
                }
            }
        }
    }

    .btn-success {
        font-family: "Avenir Medium" !important;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        // float: right;
        display: inline-block;
        padding: 5px 10px;
        background: #0056b3;
        outline: none;
        border: none;
    }
}

.dashboard-row {
    margin-right: 0px !important;
    margin-left: 0px !important;

    .dashboard-sidebar {
        background: #f0f0f0;
        vertical-align: top;
        padding: 60px 50px 30px 50px;
        background-color: #f0f0f0;

        .profile-top-section {
            // display: flex;
            border-bottom: 2px solid #000;
            padding-bottom: 30px;

            .profile-image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }

                a {
                    font-size: 10px;
                    margin-top: 10px;
                }
            }

            .profile-desc {
                margin-top: 10px;
            }

            h3 {
                font-size: 23px;
                text-align: center;
            }
        }

        .profile-bottom-section {
            padding-top: 30px;

            h2 {
                font-size: 20px;
                color: #000;
                font-weight: normal;
            }

            .recovery-h4 {
                font-family: 'Avenir Heavy' !important;
                font-size: 20px !important;
                font-weight: 900;
            }

            .edit-icon {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                img {
                    width: 20px;
                    height: 20px;
                }

                p {
                    margin-bottom: 0px;
                }

            }
        }
    }

    .dashboard-right-sec {
        .page-title {
            font-size: 24px !important;
            @media only screen and (max-width:767px){
                text-align: center;
            }
        }

        .orderstatus {
            font-family: 'Avenir Medium';
            font-size: 13px;
            color: #172B4D;
            font-style: normal !important;
        }

        .rdt_TableCell {
            p{
                font-size: 13px !important;
            }
            div {
                font-size: 13px !important;
            }
        }

        .rdt_TableHeadRow {
            .rdt_TableCol {
                color: #000;
                font-family: "Gotham-medium";
                font-size: 13px;
                text-transform: uppercase;
                background-color: #E6E7E8;
            }
        }

        .cancel-button {
            background: #0050A8;
            color: #fff;
            text-decoration: none;
            padding: 2px 11px;
            border-radius: 5px;
            font-size: 12px;
            font-family: 'Avenir Book';
            border: 1px solid #0050A8;
        }

        .success-button {
            background: #ef3131;
            color: #fff;
            text-decoration: none;
            padding: 2px 11px;
            border-radius: 5px;
            font-size: 12px;
            font-family: 'Avenir Book';
            border: 1px solid #ef3131;
        }
        .btn-export-data{
            @media only screen and(max-width:767px){
                display: flex;
                justify-content: center;
                a{
                    margin-left: 0px;
                }
            }
        }
    }
}

.sub-item {
    .adminecommerce {
        padding-left: 5px;

        li {
            a {
                padding: 10px;
            }
        }
    }
}

.edit-profile-modal {

    .green {
        color: green;
    }

    .modal-content {
        border: 0px;
        border-radius: 0px;

        .modal-header {
            border: 0px;
            padding: 30px;

            button.close {

                background: url(https://cimon-rt.s3.amazonaws.com/profile_cimon/2020_9_1602091839786_newclose.png)0px 0px no-repeat;
                height: 27px;
                width: 27px;
                display: block;
                padding: 0px !important;
                opacity: 1;

                span {
                    display: none;
                }
            }
        }

        .modal-body {
            padding: 0% 10% 10% 10%;

            .profile-form {
                h4 {
                    font-family: 'Avenir Heavy', sans-serif !important;
                    font-size: 44px;
                    line-height: 1;
                    font-weight: 900;
                    margin: 0;
                    color: #1A1818;
                    margin-bottom: 16px;
                }

                .profile-form-group {

                    margin-bottom: 16px;

                    .profile-input {
                        font-family: 'Avenir Medium', sans-serif !important;
                        font-size: 17px !important;
                        color: #515351 !important;
                        background: #E9E8E8 !important;
                        border: 1px solid #535453 !important;
                        padding: 5px 12px !important;
                        width: 100%;

                        &.focus-visible {
                            border: 1px solid #535453 !important;
                            border-radius: 0px;
                        }

                    }


                }

                .profile-edit-button {
                    font-family: 'Avenir Medium', sans-serif !important;
                    max-width: 320px;
                    font-size: 24px !important;
                    font-weight: 600;
                    height: 67px;
                    color: #fff !important;
                    background: #084D9D !important;
                    border: 1px solid #0050A8 !important;
                    padding: 15px 20px !important;
                    letter-spacing: 1px;
                    transition: all .3s ease-in-out;
                    width: 100%;
                    border-radius: 0px;
                    outline: none;

                    &:hover {
                        background: #352D3F !important;
                        border: 0px solid #352D3F !important;
                        color: #fff !important;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}

.recovery-email-form {
    .green {
        color: green;
    }

    .recovery-email-col {
        padding: 0px;

        .email-input {
            border: 1px solid #e1e1e1;
            padding: 8px 6px;
            outline: none;
            font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #777;
            margin: 0;
            width: 100%;
            display: block;
            background: #fff;
            border-radius: 0px;
        }

        .recovery-email-edit-button {
            background-color: #151829;
            color: #ffffff;
            border-color: #030607;
            border-radius: 0px;
        }
    }
}