      <!---content-->
      <div
        style="
          width: 100%;
          max-width: 500px;
          padding: 0px 20px;
          margin: 0 auto;
          padding: 30px 0px 60px 0px;
        "
      >
        <h2 style="font-family: 'Roboto', sans-serif;">Dear {{first_name}} {{last_name}},</h2>
      
        <h3 style="font-family: 'Roboto', sans-serif;">Your order is confirmed</h3>

        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;">
            Thanks for shopping! Your order hasn't shipped yet, but we will send you an email when its done.          
        </p>
        <br/><br/>
        {{{order}}}
        <br/><br/>
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;vertical-align:top;margin-bottom:40px;padding:0" >
          <tbody>
            <tr>
            <td style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0" valign="top" width="50%">
              <h2>Billing address</h2>        
              <address>
                {{first_name}} {{last_name}}<br>
                {{company}}<br>
                {{address}}<br>
                {{appartment}}<br>
                {{city}}<br>
                {{state}}<br>
                {{country}}<br>                
                {{zipcode}}<br>
                <a href="tel:{{phone}}" target="_blank">{{phone}}</a><br>
                <a href="mailto:{{email}}" target="_blank">{{email}}</a>							
              </address>
            </td>
            </tr>
        </tbody></table>
      </div>