      <!---content-->
      <div
        style="
          width: 100%;
          max-width: 500px;
          padding: 0px 20px;
          margin: 0 auto;
          padding: 30px 0px 0px 0px;
        "
      >
        

        
        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;"><strong>Name: </strong> {{fullname}}</p>
            
        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;"><strong>Email: </strong> {{email}} </p>
            
        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;"><strong>Phone: </strong> {{phone}}</p>

        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;"><strong>Country :</strong> {{country}}</p>

        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;"><strong>Region :</strong> {{region}}</p>
            
        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;"><strong>Message Body: </strong> {{comments}}</p>
           <br/><br/>
        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;">
          
           

      </div>