      <!---content-->
      <div
        style="
          width: 100%;
          max-width: 500px;
          padding: 0px 20px;
          margin: 0 auto;
          padding: 30px 0px 0px 0px;
        "
      >
        <h2 style="font-family: 'Roboto', sans-serif;font-weight:400 !important;font-size: 15px;">Dear {{ username }},</h2>
        <p style="font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 17px;">
          <span>Message : </span>{{message}}  
        </p>
         
        <p style=" font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;"> <span>{{product}}</span> <a href="{{Url}}">Click here</a> </p>
         
       
      </div>