<!---footer-->
<div>
    <p
    style=" text-align: center;
    font-family: 'Roboto', sans-serif;
      font-size: 15px;
      color: #666666;
      font-weight: 400;
      margin: 4px;
      margin-bottom: 25px;
    "
  >
  Best regards from the CIMON Team.
  </p>
 
</div>
<div
style="
  background: #18171D;
  text-align: center;
  height: 139px;
  display: block;
  text-align: center;
"
>
<div style="display: flex; padding: 7% 43% 0%;">
  <a href="https://www.facebook.com/cimoninc" target="_blank"
    style="
      background: url('{{imageUrl}}images/fb.png')
        no-repeat;
      width: 30px;
      height: 19px;
      background-size: contain;
    "
  ></a>
  <a href="https://twitter.com/CIMONsns"   target="_blank"
    style="
      background: url('{{imageUrl}}images/twitter.png')
        no-repeat;
      width: 30px;
      height: 19px;
      padding: 0px 9px 0px 0px;
      background-size: contain;
    "
  ></a>
  <a href="https://www.instagram.com/cimon_automation/"   target="_blank"
    style="
      background: url('{{imageUrl}}images/instagram.png')
        no-repeat;
      width: 30px;
      height: 19px;
     
      background-size: contain;
    "
  ></a>

  <a href="https://www.linkedin.com/company/cimoninc"   target="_blank"
  style="
    background: url('{{imageUrl}}images/linkedin.png')
      no-repeat;
    width: 30px; margin-left: 5px;
    height: 19px;
    background-size: contain;
  "
></a>
</div>
<p
  style="
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 4px;
  "
>
Copyright CIMON 2021. All rights reserved.
</p>
</div>

<div style="
    background: #18171D;
    padding: 20px;    padding-top: 0;
"><p style="
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;  font-size: 15px;
">CIMON Inc.: CIMON Inc. 2435 W. Horizon Ridge Pkwy, #100, Henderson, NV 89052,</p>
<p style="
    margin: 0;
    color: #fff;  font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
">USA Toll FREE: <a

style="
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
"
href="tel:+1-800-300-9916">+1-800-300-9916</a> Tel: <a 

style="
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
"
href="tel:+1-702-820-1060">+1-702-820-1060</a></p>
</div>

</div>
</body>
</html>

