      <!---content-->
      <div
        style="
          width: 100%;
          max-width: 500px;
          padding: 0px 20px;
          margin: 0 auto;
          padding: 30px 0px 0px 0px;
        "
      >
        <p style="margin: 4px; font-family: 'Roboto', sans-serif;font-size: 15px;margin-bottom: 30px;">
        Someone requested the email of your Cimon's Account      
        </p> <br/><br/>
        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;">
          Account Email requested: {{ email }},</p>
        <br/><br/>
       
       
       
      </div>