      <!---content-->
      <div
        style="
        
          width: 100%;
          max-width: 500px;
          padding: 0px 20px;
          margin: 0 auto;
          padding: 30px 0px 60px 0px;
          text-align:left;
        "
      >
      <table width="99%" border="0" cellpadding="1" cellspacing="0" bgcolor="#EAEAEA"><tr><td>
        <table width="100%" border="0" cellpadding="5" cellspacing="0" bgcolor="#FFFFFF">
        <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Name</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{name}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Email</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{email}}</font>
                        </td>
                   </tr> 
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Company</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{company}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Country</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{country}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>City</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{city}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Zip Code</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{zip}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Phone Number</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{phone}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Which CIMON products are you interested in?</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{interested}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Business Type</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{busines_type}}</font>
                        </td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Industry</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{industry}}</font>
                        </td>
                   </tr>
                   <!-- <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>How did you hear about us?</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{hear}}</font>
                        </td>
                   </tr> -->
                   <tr bgcolor="#EAF2FA">
                        <td colspan="2">
                            <font style="font-family: sans-serif; font-size:12px;"><strong>Recovery Email</strong></font>
                        </td>
                   </tr>
                   <tr bgcolor="#FFFFFF">
                        <td width="20">&nbsp;</td>
                        <td>
                            <font style="font-family: sans-serif; font-size:12px;">{{recovery}}</font>
                        </td>
                   </tr>
                   </table>
    </td>
</tr>
</table>
      </div>