      <!---content-->
      <div
        style="
        
          width: 100%;
          max-width: 500px;
          padding: 0px 20px;
          margin: 0 auto;
          padding: 30px 0px 60px 0px;
          text-align:center;
        "
      >
        <h2 style="font-family: 'Roboto', sans-serif;">Dear {{first_name}} {{last_name}},</h2>
      
        <h3 style="font-family: 'Roboto', sans-serif;">Thank you for registering to CIMON</h3>

        <p style="margin: 4px; font-family: 'Roboto', sans-serif; font-size: 15px;margin-bottom: 30px;">
        Please click on the button below to verify your email address.          
        </p>
        <p><a style="
          text-transform: uppercase;
          width: 100%;
          font-size: 24px;
          font-weight: 600;
          background: #0050a8;
          padding: 15px 20px;
          letter-spacing: 1px;
          text-decoration: none;
          color: #fff !important;
          display: block;
          margin: 0 auto;
          max-width: 200px;  
          font-family: 'Avenir Medium', sans-serif !important;
          margin-top: 15px;
          " href="{{verify_url}}">VERIFY EMAIL</a></p>
        <p>We look forward to having you on the website.</p>
      </div>