/********** Fonts ***********/
@import "../fonts/stylesheet.css";

@mixin set-font(
  $family: "Plateia-Bold",
  $size: 12px,
  $color: "",
  $weight: "normal"
) {
  font-family: $family;
  font-size: $size;
  @if $color != "" {
    color: $color;
  }
  font-weight: $weight;
}


/********** Top section ***********/


  .breadcrumbs {
    padding: 32px 20px;
    .current-page {
      @include set-font("Square721-BT", 21px, #3D3939);
      font-weight: normal!important;
      line-height: 32px;
      font-weight: "normal";
      font-weight: normal;
      line-height: 32px;
      text-decoration: none;
      padding-left: 19px;
    }
    .previous {
      @include set-font("Square721-BT", 21px, #0E0D0D); 
     font-weight: bold!important;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    &::before
    {
      content:"";
      background: url("../images/icons/back.png");
      position: absolute;
      background-repeat: no-repeat;
      right: 60px;
      height: 26px;
      width: 19px;
      top: 5px;

    }
    }
}

.about-section {
        margin-bottom: 80px;
  .container {
    @media (min-width: 1360px) {
      max-width: 1450px;
    }

    .set-bg {
        // height: 496px;
        background: #F9F9F9;
        padding: 80px 30px 81px 30px;

        .row
        {
            h2 {
                @include set-font("Rajdhani", 53px, #191717,700);
                line-height: 100.2%;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 17px;
                @media only screen and (max-width: 767px) {
                    font-size: 28px !important; 
               }
              }

            p{
                @include set-font("Square721-BT", 21px, #3D3939);
                font-style: normal;
                line-height: 32px;
                text-align: center;
                margin-bottom: 60px;
                max-width: 1189px;
                margin-left: auto;
                margin-right: auto;
            }

            form 
            {
              

                .select-left,.select-right {
                  padding-right: 22px;
              
                  
                 label {
                    @include set-font("Oswald-Medium", 24px, #3D3939,500);
                    line-height: 36px;
                    margin-bottom: 10px;;

                    @media only screen and (max-width: 767px) {
                      font-size: 20px !important; 
                 }
                   
                 }  
                 
                 .form-select {
                  padding: 10px 15px;
                  height: 67px;
                  option {
                    font-family: 'Helvetica Neue';
                  }
                
                   .select-left {
                    max-width: 467px;
                    width: 100%;
                    
                   }
                   .select-right {
                    max-width: 467px;
                    width: 100%;
                  }

                
                 }

              }  
          
              .button-wrapper {
        
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top:12px;

                button.btn {
                    max-width: 300px;
                    width: 100%;
                    padding: 10px 30px;
                    height: 80px;
                    background: #ED3E45;
                    border-radius: 4px;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border:solid 1px #ED3E45;

                   &:focus {
                      color: #fff;
                      background-color:none;
                      border-color: none;
                      box-shadow:none;
                  }

                  &:hover 
                  {
                   color:#ED3E45;
                   background: #fff;
                   border:solid 1px #ED3E45;
                  }
                }
            }
            }
        }

    }
  }

}
.accordian-section {
    margin-bottom: 60px;;
    .container {
      @media (min-width: 1360px) {
        max-width: 1450px;
      }
  
            .row
            {
                h3 {
                    @include set-font("Rajdhani", 53px, #191717,700);
                    line-height:117.2%;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: Rajdhani;
                    text-align: center;
                    text-decoration: underline;
                    text-transform: uppercase;
                    margin-bottom:50px;
                    margin-top: 50px;

                    @media only screen and (max-width: 767px) {
                      font-size: 28px !important; 
                      margin-bottom:0px;
                      
                 }
                }

                .accordion  {

                  .accordion-item {

                    .accordion-header {

                      .accordion-button {

                        &:focus {
                          z-index: 3;
                          border-color: #fff;
                          outline: 0;
                          box-shadow: none;
                      }

                        outline: none;

                       &:not(.collapsed) {
                          
                          background-color: #fff;
                          box-shadow: none;
                          outline: none;
                          padding-bottom: 0px!important;
                          &:before {
                            transform: rotate(
                            -360deg);
                            }
                      }

                        
  
                        @include set-font("Square721-BT", 24px, #191717,700);
                        line-height: 23px;
                        text-transform: uppercase;
                        color: #0E0D0D;
                        font-family: Square721 BT;
                        padding-left: 41px;
                        padding: 52px 41px;
                        @media only screen and (max-width: 767px) {
                          padding: 30px 41px;
                     }
                        &:after
                        {
                          content:"";
                          display: none;
                        }

                       &:before {
                          flex-shrink: 0;
                          width: 1.25rem;
                          height: 1.25rem;
                          margin-right: auto;
                          content: url("../images/icons/acc-arrow.png");
                          position: absolute;
                          top: 15;
                          left: 0;
                          background-repeat: no-repeat;
                          background-size: 1.25rem;
                          transition: transform 0.2s ease-in-out;
                         transform: rotate(
                            -90deg);
                           
                          
                      }
                      @media only screen and (max-width: 767px) {
                        font-size: 20px !important; 
                        line-height: 28px;
                        
                   }

                      }

                    }
                      .accordion-collapse {
  
                        .accordion-body {
                          @include set-font("Square721-BT", 21px, #3D3939,400);
                          font-style: normal;
                          font-size: 21px;
                          line-height: 36px;
                          padding: 18px 20px 28px 20px;
                          padding-left: 58px;

                          &:before {
                            flex-shrink: 0;
                            width: 1.25rem;
                            height: 1.25rem;
                            margin-right: auto;
                            content: url("../images/icons/redarrow.png");
                            position: absolute;
                            left: 151px;
                            background-repeat: no-repeat;
                            background-size: 1.25rem;
                            transition: transform 0.2s ease-in-out;

                            @media (max-width:767px) {
                              display: none;
                            }
                        }
                        }
  
                      }
                  
                    
  
                    
                  }

               
                }
 
            }
    
        }
      }
 .selected-section
{

.container {
  @media (min-width: 1360px) {
    max-width: 1450px;
  }

.row {

  &.img-content {

    @media (max-width: 767px) {
      text-align: center;
    }

  }

  .imgsec{

    img.sel-img {
      width: 100%;
  }

  }
.con-width {
  @media (min-width: 991px) {
    // max-width: 1450px;
    width: 37%;
    margin-left: 6%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .content-sec{

    h2 {
      font-family: Rajdhani;
      font-style: normal;
      @include set-font("Rajdhani", 43px, #191717,700);
      line-height: 117.2%;
      text-transform: uppercase;
      @media only screen and (max-width: 767px) {
        font-size: 28px !important; 
        margin-top: 20px;
   }
    }

    p {
      @include set-font("Square721 BT", 21px, #3D3939,400);
      font-style: normal;
      font-size: 21px;
      line-height: 32px;
    }

  }

}
}
  .doc-section {
  margin-top: 105px;
    @media only screen and (max-width: 767px) {
      margin-top: 30px;
 }
    
    .row {
      .col-md-8 {

        &.doc-left
        {
          padding-right: 113px; 
      @media only screen and (max-width: 1024px) {
    
        padding-right: 60px; 
        }
          
    @media only screen and (max-width: 767px) {
        
      padding-right: 0px; 
      }
        }
        .doc-single {
        //  border-right: 1px solid rgba(0, 0, 0, 1);
      
        h4 {
       @include set-font("Square721 BT", 21px, #0E0D0D,700); 
        line-height: 23px;
        text-transform: uppercase;

        }

          .document-outer {
            display: flex;
            border-bottom: 1px solid rgba(72, 68, 68, 1);
            justify-content: space-between;
            padding: 23px 10px;
        
            h5 {
              @include set-font("Square721 BT", 21px, #3D3939,700); 
              font-size: 21px;
              line-height: 32px;
              position: relative;
              padding-left: 42px;
               &:before 
               {
                 content: url("../images/icons/docs.png");
                 position: absolute;
                 background-repeat: no-repeat;
                 width: 40px;
                 height: 23px;
                 left: -12px;
                 background: #FFEAEB;
                 border-radius: 6px;
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 display: flex;     
               padding: 24px 3px 16px 3px;

               }

            }
            a.download {
              @include set-font("Square721 BT", 11px, #191717,700);  
              line-height: 13px;
              display: flex;
              align-items: center;
              text-transform: uppercase;
              text-decoration: none;
              padding: 10px 10px;
              max-width: 108px;
              height: 40px;
              border: 1px solid #191717;
              box-sizing: border-box;
              border-radius: 4px;
              width: 100%;
              justify-content: center;

              &:hover 
              {
                color:#fff;
                background: #191717;
                border:solid 1px #191717;
              }

          }

          }
        }
     
      }

      .col-md-4  
      {
        &.video-right
        {
          border-left: 1px solid rgba(0, 0, 0, 1);
          padding-left: 60px;
          @media only screen and (max-width: 767px) {
            border-left: 0px solid rgba(0, 0, 0, 1);
            margin-top: 40px;
            padding-left: calc(var(--bs-gutter-x) * .5);
       }
       @media only screen and (max-width: 1024px) {
        padding-left: 30px;
        }
        }

        h4 {
          font-family: Square721 BT;
          font-style: normal;
          font-weight: bold;
          font-size: 21px;
          line-height: 23px;
          text-transform: uppercase;
          color: #0E0D0D;
           margin-bottom: 43px;
        }
        .videos 
        {
          margin-bottom: 30px;
          display: flex;
          gap: 40px;
          align-items: center;

          @media only screen and (max-width: 1024px) {
            gap: 10px;
       }
          .sel-video {
             border-top-left-radius: 6px;
             border-top-right-radius: 6px;
            border-radius: 6px;
          }
          .video-title {
            @include set-font("Square721 BT", 21px, #3D3939,700);
          line-height: 32px;
          color: #3D3939;
          width:163px;
          }
        }
      }
    }

  }
.link-section {
  @media only screen and (max-width: 1360px) {
        
   margin-top:40px; 
    }
  .doc-left
  {
    padding-right: 113px; 

    @media only screen and (max-width: 767px) {
        
      padding-right: 0px; 
      }
  }

  .link-single {

    // margin-top: 40px;

    h4 {
      @include set-font("Square721 BT", 21px, #0E0D0D,700); 
      line-height: 23px;
      text-transform: uppercase;
    }
    .document-outer {

      display: flex;
      border-bottom: 1px solid rgba(72, 68, 68, 1);
      justify-content: space-between;
      padding: 23px 10px;
      h5 {
        @include set-font("Square721 BT", 21px, #3D3939,700); 
        font-size: 21px;
        line-height: 32px;
        position: relative;
        padding-left: 42px;
         &:before 
         {
           content: url("../images/icons/links.png");
           position: absolute;
           background-repeat: no-repeat;
           width: 40px;
           height: 40px;
           left: -12px;
           background: #FFEAEB;
           border-radius: 6px;
           text-align: center;
           justify-content: center;
           align-items: center;
           display: flex;
         }

      }
      a.go {
        @include set-font("Square721 BT", 11px, #191717,700);  
        line-height: 13px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 10px;
        width: 57.74px;
        height: 40px;
        border: 1px solid #191717;
        box-sizing: border-box;
        border-radius: 4px;
        justify-content: center;

        &:hover 
        {
          color:#fff;
          background: #191717;
          border:solid 1px #191717;
        }
       }

    }
  }


}





}
}

.hr 
 {
  padding-top: 122px;
  padding-bottom: 65px;
  .container
  {
    @media (min-width: 1360px) {
      max-width: 1450px;
    }

    border: 1px solid rgba(72, 68, 68, 1);
  }
  @media only screen and (max-width: 767px) {
   display: none;
}
}

