/********** Fonts ***********/
@import "../fonts/stylesheet.css";

@mixin set-font(
  $family: "Plateia-Bold",
  $size: 12px,
  $color: "",
  $weight: "normal"
) {
  font-family: $family;
  font-size: $size;
  @if $color != "" {
    color: $color;
  }
  font-weight: $weight;
}

/********** SITELOCK ***********/
#sitelock {
  .logoImg {
    background-color: #000;
    padding: 10px !important;
    margin: 10px 0;
    border-radius: 5px;
  }
  #password {
    margin: 10px 0;
  }
}
/********** Header ***********/
.header {
  background: #191717;
  padding: 25px 18px 0;
  // .container-fluid {
  //   max-width: 1920px;
  // }

  @media (max-width: 767px) {
    .header-inner {
      text-align: center;
    }
  }
  .links {
    &.middle {
      text-align: center;
    }
    &.last {
      text-align: end;
    }
    .locator {
      @include set-font("Square721-BT", 20px, #c5c5c5, 400);
      line-height: 30px;
      text-decoration: none;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      &::before {
        content: url("../images/icons/map-marker.png");
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .returns {
      @include set-font("Square721-BT", 20px, #fff, 400);
      line-height: 30px;
      text-decoration: none;
      .left-arrow {
        background: url("../images/icons/left-arrow.png");
        width: 9px;
        height: 17px;
        margin: 0 15px -1px;
        display: inline-block;
        background-repeat: no-repeat;
      }
      .right-arrow {
        background: url("../images/icons/right-arrow.png");
        width: 9px;
        height: 17px;
        margin: 0 15px -1px;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }
    .right-buttons {
      @include set-font("Square721-BT", 18px, #c5c5c5, 400);
      line-height: 22px;
      text-decoration: none;
      position: relative;
      margin: 0 15px;
      cursor: pointer;
      &.user {
        padding-left: 30px;
        &::before {
          content: url("../images/icons/user.png");
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &.map {
        padding-left: 40px;
        &::before {
          content: url("../images/icons/map.png");
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &.share {
        padding-left: 30px;
        &::before {
          content: url("../images/icons/share.png");
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .logo {
    text-align: center;
    margin: 15px 0;
  }
  .menu-bar {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
    }
    background: #2a2828;
    min-height: 80px;
    // margin-left: -30px;
    // margin-right: -30px;
    .logo-box {
      display: flex;
      height: fit-content;
      align-self: center;
      .logo-items {
        border-right: solid 1px #3d3a3a;
      }
      img {
        margin-right: 30px;
        cursor: pointer;
      }
    }
    .menu-box {
      display: flex;
      align-self: center;
      justify-content: center;
      .nav-item {
        margin: 0 20px;
        .nav-link {
          @include set-font("Square721-BT", 20px, #fff, 400);
          line-height: 25px;
        }
      }
    }
    .search-cart-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .head-search {
        display: none;
        @media (min-width: 1360px) {
          display: flex;
          align-items: center;
          margin-right: 35px;
        }
        .search-input {
          @include set-font("Square721-BT", 16px, #3d3939, 400);
          height: 51px;
          padding: 10px 15px 11px;
          border: 1px solid #e3e7e9;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          outline: none;
          text-transform: uppercase;
        }
        .search-btn {
          height: 51px;
          background: #fff;
          border: 1px solid #e3e7e9;
          padding: 0 15px 5px 15px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      .head-cart {
        .cart-icon {
          cursor: pointer;
        }
        .cart-count {
          background: red;
          padding: 4px 8px;
          border-radius: 20px;
          font-size: 12px;
          color: #fff;
          position: relative;
          top: -10px;
          left: -10px;
        }
      }
    }
  }
}
/********** Footer ***********/
.footer {
  background: #191717;
  padding: 30px 20px;
  @media (min-width: 768px) {
    padding: 50px 0;
  }
  @media (min-width: 1360px) {
    padding: 90px 0 75px;
  }
  .container {
    @media (min-width: 1360px) {
      max-width: 1450px;
    }
  }
  .icons {
    @media (min-width: 768px) and (max-width: 1359px) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 30px;
    }
    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    height: 200px;
    position: relative;
    .separator {
      display: none;
      @media (min-width: 768px) {
        border-bottom: 1px solid #fff;
        width: 100px;
        position: absolute;
        bottom: 0;
        display: block;
      }
    }
    h3 {
      @include set-font("Square721-BT", 20px, #fff, 700);
      line-height: 30px;
      margin-top: 20px;
      letter-spacing: 2px;
    }
    p {
      @include set-font("Square721-BT", 20px, #fff, 400);
      line-height: 30px;
    }
  }
  .second-section {
    .links {
      @media (min-width: 768px) and (max-width: 1359px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media (max-width: 767px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      @media (min-width: 768px) {
        margin-top: 70px;
      }

      .main-links {
        list-style: none;
        padding: 0;
        li {
          @include set-font("Square721-BT", 20px, #fff, 700);
          line-height: 30px;
          text-transform: uppercase;
          padding: 15px 0;
          letter-spacing: 2px;
        }
      }
      h3 {
        @include set-font("Square721-BT", 20px, #fff, 700);
        line-height: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      p {
        @include set-font("Square721-BT", 20px, #fff, 400);
        line-height: 30px;
      }
      .links-row {
        display: flex;
        .sub-links {
          list-style: none;
          padding: 0;
          padding-right: 50px;
          li {
            @include set-font("Square721-BT", 20px, #858585, 400);
            line-height: 44px;
          }
        }
      }
      .newsletter {
        // @media (min-width: 1360px) {
        display: flex;
        align-items: center;
        // }
        input {
          @include set-font("Square721-BT", 18px, #858585, 400);
          height: 40px;
          padding: 10px 15px;
          border: solid 1px #fff;
        }
        button {
          background: transparent;
          border: solid 1px #fff;
          @include set-font("Square721-BT", 15px, #fff, 400);
          height: 40px;
          @media (min-width: 1440px) {
            margin-left: 10px;
          }
          padding: 0 5px;
          @media (min-width: 1360px) {
            padding: 0 15px;
          }
          &:hover {
            background: #fff;
            color: #858585;
          }
        }
      }
    }
  }
  .socket {
    align-items: end;
    padding: 50px 0 0;
    @media (max-width: 1024px) {
      text-align: center;
    }
    .cpr {
      @media (max-width: 1024px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
    .soc {
      @media (max-width: 1024px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .copy-right {
      @include set-font("Square721-BT", 20px, #858585, 400);
    }
    .follow {
      h3 {
        @include set-font("Square721-BT", 20px, #ffffff, 700);
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      .social {
        .social-links {
          margin-right: 10px;
          @media (min-width: 1360px) {
            margin-right: 30px;
          }
          img {
            width: 35px;
          }
        }
      }
    }
  }
}
/********** Banner Carousel ***********/
.banner-carousel {
  position: relative;
  .banner-search-area {
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
    position: absolute;
    top: 10px;
    z-index: 1;
    width: 100%;
    .banner-search-area-inner {
      background: #fff;
      opacity: 0.9;
      border-radius: 4px;
      max-width: 850px;
      height: 75px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      select {
        width: 100%;
        border: none;
        @include set-font("Square721-BT", 20px, #746f6f, 400);
        height: 75px;
        outline: none;
        cursor: pointer;
      }
      .select-text {
        @include set-font("Square721-BT", 16px, #3d3a3a, 700);
        text-transform: uppercase;
        text-align: center;
      }
      .select-make {
        width: 25%;
        padding: 0 20px;
        border-left: solid 1px #3d3939;
      }
      .select-model {
        width: 25%;
        padding: 0 20px;
        border-left: solid 1px #3d3939;
      }
      .select-year {
        width: 22%;
        padding: 0 20px;
        border-left: solid 1px #3d3939;
      }
      .select-go {
        padding: 0 30px;
        button {
          @include set-font("Square721-BT", 18px, #fff, 700);
          background: #d9261c;
          border: none;
          padding: 10px;
          border-radius: 4px;
        }
      }
    }
  }
  .banner-content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    max-width: 1920px;
    margin: 0 auto;
    right: 0;
    h1 {
      text-transform: uppercase;
      @include set-font("michromaregular", 35px, #fff);
      line-height: 40px;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        @include set-font("michromaregular", 76px, #fff);
        line-height: 68px;
        margin-bottom: 50px;
      }
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: left;
      span {
        display: block;
        color: #d9261c;
      }
    }
    h2 {
      text-transform: uppercase;
      @include set-font("michromaregular", 25px, #fff);
      line-height: 30px;
      @media (min-width: 768px) {
        @include set-font("michromaregular", 40px, #fff);
        line-height: 44px;
      }
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: left;
    }
    p {
      @include set-font("Square721-BT", 24px, #fff, 400);
      line-height: 30px;
      text-align: left;
      margin: 15px 0;
      @media (min-width: 768px) {
        margin: 20px 0 35px;
      }
      max-width: 500px;
    }
  }
  .carousel {
    .slide {
      img {
        @media (max-width: 1024px) {
          height: 600px;
          object-fit: cover;
        }
        @media (max-width: 767px) {
          height: 400px;
          object-fit: cover;
        }
      }
    }
    .control-dots {
      text-align: end !important;
      right: 40px !important;
      .dot {
        width: 16px !important;
        height: 16px !important;
        &.selected {
          background: #808080 !important;
        }
      }
    }
    .control-next.control-arrow:before {
      content: url("../images/icons/carousel-right-arrow.png") !important;
      border: none !important;
      margin-right: 40px !important;
    }
    .control-prev.control-arrow:before {
      content: url("../images/icons/carousel-left-arrow.png") !important;
      border: none !important;
      margin-left: 40px !important;
    }
    .control-arrow {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}
.special-slider {
  background: url("../images/solution-bg.png");
  background-size: cover;
  padding: 90px 0;
  background-repeat: no-repeat;
  background-position: center;
  .titles {
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
    a {
      @include set-font("michromaregular", 20px, #d9261c);
      line-height: 30px;
      @media (min-width: 1024px) {
        @include set-font("michromaregular", 30px, #d9261c);
        line-height: 40px;
      }
      text-transform: uppercase;

      margin: 0 45px;
      cursor: pointer;
      text-decoration: underline;
      &.active {
        color: #0e0d0d;
      }
      &:hover {
        color: #0e0d0d;
      }
    }
  }
  .slider-container {
    background: url("../images/slider-item.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    @media (min-width: 1024px) {
      height: 755px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .slider-content {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1 {
        text-transform: uppercase;
        @include set-font("michromaregular", 25px, #fff);
        line-height: 30px;
        @media (min-width: 480px) {
          @include set-font("michromaregular", 40px, #fff);
          line-height: 50px;
        }
        @media (min-width: 768px) {
          @include set-font("michromaregular", 60px, #fff);
          line-height: 80px;
        }
        @media (min-width: 1024px) {
          @include set-font("michromaregular", 70px, #fff);
          line-height: 80px;
        }
        @media (min-width: 1360px) {
          @include set-font("michromaregular", 100px, #fff);
          line-height: 110px;
        }
        margin-bottom: 36px;
      }
    }
  }
  position: relative;
  .invert-text {
    display: none;
    @media (min-width: 1360px) {
      display: block;
    }
    &.left {
      @media (min-width: 1024px) {
        position: absolute;
        left: 0;
      }
    }
    &.right {
      @media (min-width: 1024px) {
        position: absolute;
        right: 0;
      }
    }
  }
}
.accessories-section {
  background: url("../images/stock-photo-futuristic.png");
  background-color: #0e0d0d;
  background-size: cover;
  padding: 30px 20px;
  @media (min-width: 768px) {
    padding: 50px 0;
  }
  @media (min-width: 1360px) {
    padding: 120px 0;
  }
  background-repeat: no-repeat;
  background-position: center;
  .container {
    @media (min-width: 1360px) {
      max-width: 1450px;
    }
  }
  .accessories-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    @include set-font("michromaregular", 20px, #fff);
    line-height: 30px;
    @media (min-width: 1360px) {
      @include set-font("michromaregular", 32px, #fff);
      line-height: 45px;
    }

    height: 458px;
    &.tuners {
      background: url("../images/tuners.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.accessories {
      background: url("../images/accessories.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.apparel {
      background: url("../images/apparel.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.home-sharing-section {
  padding: 30px 0;
  @media (min-width: 768px) {
    padding: 50px 0;
  }
  @media (min-width: 1440px) {
    padding: 130px 0;
  }
  background: url("../images/stock-vector-sport-bike.png");
  background-size: cover;
  height: auto;
  @media (min-width: 1024px) {
    height: 803px;
  }
  background-color: #d9261c;
  .sharing-inner {
    padding: 20px;
    @media (min-width: 1920px) {
      padding: 0;
    }
    @media (min-width: 1920px) {
      padding-left: 230px;
      padding-right: 35px;
    }
    .if-feed-wrap {
      display: flex;
      flex-direction: column;
      @media (min-width: 1024px) {
        flex-direction: row;
      }
      .ig-item {
        margin: 10px;
        @media (min-width: 1920px) {
          margin: 30px;
        }
        &.ig-1 {
          @media (min-width: 1360px) {
            flex: 0 0 25%;
            max-width: 25%;
          }
          @media (min-width: 1920px) {
            flex: 0 0 418px;
            max-width: 418px;
          }
        }
        &.ig-2 {
          @media (min-width: 1360px) {
            flex: 0 0 25%;
            max-width: 25%;
          }
          @media (min-width: 1920px) {
            flex: 0 0 310px;
            max-width: 310px;
          }
        }
        &.ig-3 {
          @media (min-width: 1360px) {
            flex: 0 0 25%;
            max-width: 25%;
          }
          @media (min-width: 1920px) {
            flex: 0 0 418px;
            max-width: 418px;
          }
        }
        .share-title {
          @include set-font("michromaregular", 32px, #fff);
          line-height: 44px;
          text-transform: uppercase;
          margin-bottom: 30px;
          @media (min-width: 1920px) {
            margin-top: 15px;
          }
        }
        .share-sub-title {
          @include set-font("Square721-BT", 20px, #fff, 400);
          line-height: 30px;
          text-transform: uppercase;
          margin-bottom: 50px;
          border-bottom: solid 1px #fff;
          cursor: pointer;
          display: inline-block;
        }
        .share-nav {
          span {
            margin-right: 20px;
            img {
              cursor: pointer;
            }
          }
        }
        .share-img-item {
          img {
            width: 100%;
            margin-bottom: 30px;
          }
          .ig-share-count {
            @include set-font("Square721-BT", 20px, #fff, 400);
            line-height: 30px;
            text-align: left;
            background: url("../images/icons/insta-like.png");
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 40px;
          }
          .ig-feed-title {
            @include set-font("Square721-BT", 25px, #fff, 700);
            line-height: 30px;
            text-align: left;
            margin: 20px 0 10px;
          }
          .ig-feed-exrept {
            @include set-font("Square721-BT", 20px, #fff, 400);
            line-height: 30px;
            text-align: left;
          }
        }
      }
    }
  }
}
