/********** Common Styles ***********/
/********** Fonts ***********/
@import "../fonts/stylesheet.css";

@mixin set-font(
  $family: "Plateia-Bold",
  $size: 12px,
  $color: "",
  $weight: "normal"
) {
  font-family: $family;
  font-size: $size;
  @if $color != "" {
    color: $color;
  }
  font-weight: $weight;
}
/********** Common Button ***********/
.btmoto-btn {
  @include set-font("Square721-BT", 16px, #fff, 700);
  line-height: 18px;
  text-transform: uppercase;
  width: 178px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #d9261c;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  &::after {
    content: url("../images/icons/btn-arrow.png");
    position: absolute;
    right: -17px;
  }
  &:hover {
    opacity: 0.5;
    color: #fff;
  }
}

.device-header {
  display: block;
  background: #191717;
  padding: 10px 20px;
  .device-log-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mob-breadcrumb {
      display: flex;
      .mob-head-cart {
        .mob-cart-icon {
          cursor: pointer;
        }
        .mob-cart-count {
          background: red;
          padding: 4px 8px;
          border-radius: 20px;
          font-size: 12px;
          color: #fff;
          position: relative;
          top: -10px;
          left: -10px;
        }
      }
      .menu-btn {
        svg {
          color: #fff;
        }
      }
    }
  }
  .menu-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: #191717;
    display: flex;
    flex-direction: column;
    z-index: 999;
    .menu-close {
      position: absolute;
      top: 15px;
      right: 15px;
      svg {
        color: #fff;
      }
    }
    .menu-inner-logo {
      padding: 10px 20px;
    }
    .mob-header-search {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      .search-input {
        @include set-font("Square721-BT", 13px, #3d3939, 400);
        height: 40px;
        padding: 10px 15px 11px;
        border: 1px solid #e3e7e9;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        outline: none;
        text-transform: uppercase;
      }
      .search-btn {
        height: 40px;
        background: #fff;
        border: 1px solid #e3e7e9;
        padding: 0 15px 5px 15px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    .menu-return-text {
      padding: 10px;
      border-bottom: solid 1px;
      .returns {
        @include set-font("Square721-BT", 16px, #fff, 400);
        line-height: 30px;
        text-decoration: none;
        .left-arrow {
          background: url("../images/icons/left-arrow.png");
          width: 9px;
          height: 17px;
          margin: 0 15px -1px;
          display: inline-block;
          background-repeat: no-repeat;
        }
        .right-arrow {
          background: url("../images/icons/right-arrow.png");
          width: 9px;
          height: 17px;
          margin: 0 15px -1px;
          display: inline-block;
          background-repeat: no-repeat;
        }
      }
    }
    .menu-list {
      padding: 10px 20px;
      a {
        padding: 10px 0;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        text-transform: uppercase;
        @include set-font("Square721-BT", 16px, #fff, 400);
        &:hover {
          color: #d9261c;
        }
      }
    }
    .menu-extra {
      padding: 10px 20px;
      a {
        padding: 10px 0;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        text-transform: uppercase;
        @include set-font("Square721-BT", 16px, #c5c5c5, 400);
        &:hover {
          color: #d9261c;
        }
        &.user {
          padding-left: 30px;
          &::before {
            content: url("../images/icons/user.png");
            position: absolute;
            left: 20px;
          }
        }
        &.map {
          padding-left: 40px;
          &::before {
            content: url("../images/icons/map.png");
            position: absolute;
            left: 20px;
          }
        }
        &.share {
          padding-left: 30px;
          &::before {
            content: url("../images/icons/share.png");
            position: absolute;
            left: 20px;
          }
        }
      }
    }
    .dealer {
      padding: 10px 20px;
      .locator {
        @include set-font("Square721-BT", 16px, #c5c5c5, 400);
        &:hover {
          color: #d9261c;
        }
        text-transform: uppercase;
        line-height: 30px;
        text-decoration: none;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        &::before {
          content: url("../images/icons/map-marker.png");
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
.large-sreen-header {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
