@font-face {
  font-family: "Plateia-Bold";
  src: url("Plateia-Bold.eot");
  src: url("Plateia-Bold.eot?#iefix") format("embedded-opentype"),
    url("Plateia-Bold.woff2") format("woff2"),
    url("Plateia-Bold.woff") format("woff"),
    url("Plateia-Bold.ttf") format("truetype"),
    url("Plateia-Bold.svg#Plateia-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Square721-BT";
  src: url("Square721BT-Roman.eot");
  src: url("Square721BT-Roman.eot?#iefix") format("embedded-opentype"),
    url("Square721BT-Roman.woff2") format("woff2"),
    url("Square721BT-Roman.woff") format("woff"),
    url("Square721BT-Roman.ttf") format("truetype"),
    url("Square721BT-Roman.svg#Square721BT-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "michromaregular";
  src: url("michroma-regular-webfont.woff2") format("woff2"),
    url("michroma-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('Rajdhani-Bold.woff2') format('woff2'),
      url('Rajdhani-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('Oswald-Bold.eot');
  src: url('Oswald-Bold.eot?#iefix') format('embedded-opentype'),
      url('Oswald-Bold.woff2') format('woff2'),
      url('Oswald-Bold.woff') format('woff'),
      url('Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald-Medium';
  src: url('Oswald-Medium.woff2') format('woff2'),
      url('Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue.woff2') format('woff2'),
      url('HelveticaNeue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

