/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');*/
@font-face {
  font-family: "Gotham-bold";
  font-display: fallback;
  src: url("GothamBold.eot");
  src: local('Gotham-bold'),  url("GothamBold.eot?#iefix") format("embedded-opentype"),
    url("GothamBold.woff2") format("woff2"),
    url("GothamBold.woff") format("woff"),
    url("GothamBold.ttf") format("truetype"),
    url("GothamBold.svg#GothamBold") format("svg");
  font-weight: bold;
  font-style: normal;
}  

@font-face {
  font-family: "Gotham-book";
  font-display: fallback;
  src: url("Gotham-Book.eot");
  src: local('Gotham-book'), url("Gotham-Book.eot?#iefix") format("embedded-opentype"),
    url("Gotham-Book.woff2") format("woff2"),
    url("Gotham-Book.woff") format("woff"),
    url("Gotham-Book.ttf") format("truetype"),
    url("Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-medium";
  font-display: fallback;
  src: url("GothamMedium.eot");
  src: local('Gotham-medium'),  url("GothamMedium.eot?#iefix") format("embedded-opentype"),
    url("GothamMedium.woff2") format("woff2"),
    url("GothamMedium.woff") format("woff"),
    url("GothamMedium.ttf") format("truetype"),
    url("GothamMedium.svg#GothamMedium") format("svg");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Avenir Black';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Black'), url('Avenir-Black.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Avenir Heavy';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Heavy'), url('Avenir-Heavy.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Avenir Book';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Book'), url('Avenir-Book.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Avenir Medium';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Medium'), url('Avenir-Medium.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Avenir Roman';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Roman'), url('Avenir-Roman.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}


@font-face {
  font-family: 'Montserrat Medium';
  font-display: fallback;
  src: local('Montserrat Medium'),  url('Montserrat-Medium.woff2') format('woff2'),
    url('Montserrat-Medium.woff') format('woff'),
    url('Montserrat-Medium.ttf') format('truetype');
    unicode-range: U+000-5FF; /* Latin glyphs */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Regular';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Arial Regular'), url('ARIAL.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}


@font-face {
  font-family: 'Arial Medium';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Arial Medium'), url('ArialMdm.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}


@font-face {
  font-family: 'Arial Medium Italic';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Arial Medium Italic'), url('ArialMdmItl.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}


@font-face {
  font-family: 'Arial Bold';
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Arial Bold'), url('ARIALBD 1.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}



@font-face {
  font-family: 'Roboto-Regular';
  font-display: fallback;
  src: local('Roboto-Regular'), url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('Roboto-Regular.woff') format('woff'), url('Roboto-Regular.ttf')  format('truetype'), url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-weight: normal;
  font-style: normal;
}


